/*
    Document   : clasesJulian
    Created on : 17-abr-2017, 17:23:33
    Author     : Julian
    Description:
        Purpose of the stylesheet follows.
*/

.bordeRedondeado{
    border-radius: 5px;
}
.borderBlack{
    border: 1px solid black;
}
.borderRed{
    border: 1px solid red;
}
.borderGreen{
    border: 1px solid green;
}
.borderGrey{
    border: 1px solid grey;
}
.sinBorde{
    border: none;
}
.colorBlanco{
    background-color: white;
}
.colorVerdeFuerte{
    background-color: #284a31;
}
.colorVerdeAgua{
    background: #88a624;
}
.colorVerdeClarito{
    background: #BCF5A9;
}
.colorRosa{
    background: #D192BD;
}
.colorCeleste{
    background: #4DA6FF;
}
.colorAmarillo{
    background: #EDC003;
}
.colorAmarilloClarito{
    background: #FFFFF0;
}
.colorAmarilloPremium{
    background-color: #FFFF9C;
}
.colorGris{
    background: grey;
}
.colorGris444{
    background: #444;
}
.colorFucsiaFuerte{
    background: #8F2270;
}
.colorGrisClarito{
    background: #F2F2F2;
}
.colorCelesteClarito{
    background: #ECECFB;
}
.colorCelesteOscuro{
    background: #A9D0F5;
}
.colorRojo{
    background: red;
}
.colorRosaViejo{
    background: #CC6666;
}
.colorMostaza{
    background: #CC9900;
}
.colorNegro{
    background: #000000;
}
.colorMostazaClaro{
    background: #CC9933;
}
.fuenteBlanca{
    color: white;
}
.fuenteAzul{
    color:#4da6ff;
}
.fuenteAzulFuerte{
    color: #00468C;
}
.fuenteRosa{
    color: #d192bd;
}
.fuenteVerdeAgua{
    color: #88a624;
}
.fuenteVerdeFuerte{
    color: #284a31;
}
.fuenteGris{
    color: #464637;
}
.fuenteNaranja{
    color: orange;
}
.fuenteRoja{
    color: red;
}
.fuenteGris000{
    color: #000;
}
.fuenteGris555{
    color: #555;
}
.fontSize1_2em{
    font-size: 1.2em;
}
.fontSize1_3em{
    font-size: 1.3em;
}
.fontSize1_4em{
    font-size: 1.4em;
}
.fontSize1_5em{
    font-size: 1.5em;
}
.estiloTexto{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}
.textoCentrado{
    text-align: center;
}
.paddingBotonesMenu{
    padding: 20px 0 20px 0;
}
#caja_mensaje_principal{
    margin: 100px 0px 0 3%;
}
.claseIconos{
    width: 50px;
}
.float-right{
    float: right;
}
.marginTop1{
    margin-top: 1%;
}
.marginTop2{
    margin-top: 2%;
}
.marginTop3{
    margin-top: 3%;
}
.marginTop5{
    margin-top: 5%;
}
.marginTop7{
    margin-top: 7%;
}
.marginTop10{
    margin-top: 10%;
}
.marginTop15{
    margin-top: 15%;
}
.marginTop20{
    margin-top: 20%;
}
.marginTop20px{
    margin-top: 20px;
}
.marginTop5px{
    margin-top: 5px;
}
.marginBottom5{
    margin-bottom: 5%;
}
.marginBottom2{
    margin-bottom: 2%;
}
.marginleft1{
    margin-left: 1%;
}
.marginleft2{
    margin-left: 2%;
}
.marginleft3{
    margin-left: 3%;
}
.marginleft5{
    margin-left: 5%;
}
.marginleft60{
    margin-left: 56%;
}
.negrita{
    font-weight: bold;
}
.padding2{
    padding: 2%;
}
.padding5{
    padding: 5%;
}
.paddingLeftRigth5{
    padding-left: 5%;
    padding-right: 5%;
}
.paddingTop1{
    padding-top: 1%;
}
.paddingTop1px{
    padding-top: 1px;
}
.paddingTop2{
    padding-top: 2%;
}
.paddingBottom1{
    padding-bottom: 1%;
}
.paddingBottom1px{
    padding-bottom: 1px;
}
.paddingBottom2{
    padding-bottom: 2%;
}
.paddingBottom5{
    padding-bottom: 5%;
}
.text_underline{
    text-decoration: underline;
}
.alturaBanners{
    height: 130px;
}
.anchoTotal{
    width: 100%;
}
.imagen_profesores{
    width: 90%;
}
.imagen_check{
    width: 35px;
    height: 35px;
}
.link_sin_decoracion{
    text-decoration: none !important;
}
.sombreadoDiv{
    -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
}
.altura10{
    height: 10px;
}
.altura20{
    height: 20px;
}
.altura30{
    height: 30px;
}
.opacidad05{
    opacity: 0.5;
}
.bordeParaBotonMenu{
    border: 2px solid #ccc;
}
.link{
    cursor: pointer;
    text-decoration: underline;
}
.transparente_50{
    background: #ddd;
    opacity: 0.9;
    filter:  alpha(opacity=90);
}
.bi{
    background: black;
}
.posicionFija{
    position: fixed;
    /*margin-top: px;*/
}
/*#imagenFondo{
    background: url(../../img/profesor_pizarra.jpg) no-repeat fixed center;
}*/
/*Parte Responsive*/
@media (max-width: 767px) {

}
#map_canvas {
    width: 100%;
    height: 500px;
    background-color: #CCC;
}
#map_canvas img { max-width: none; }


#map_canvas_ficha_profesor {
    width: 100%;
    height: 300px;
    background-color: #CCC;
}
#map_canvas_ficha_profesor img { max-width: none; }

/*///////////////////////////////////////////////////////  EFECTO PARPADEO  //////////////////////////////////////////*/

.textSend {
    font-size: 22px;
    color:#555;
}
.parpadea {

    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes parpadeo {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
