
/* Page Tester */
body {




    background:url(
    data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKUlEQVQIW2OMiYn5zwAFR48eZWCECYA41tbWEAEYB6SQUVFR8T9IBgYAjHgQoJYEZjAAAAAASUVORK5CYII=
    )repeat;

    font-family: 'Roboto', sans-serif;



    /*background-color: darkgray;*/
}

/*        @media (max-width: 2500px) {

            .head{

                width: 1280px;
                margin: 5px;
            }

        }

        @media (max-width: 1330px) {

            .head{

                width: 100%;
                margin: 5px;
            }

        }*/

/*.head{

    height: 100px;
    background-color: #000000;
    padding-top: 5px;

}*/


.titleText{

    color: #ffffff;
  /*  text-align: center;*/
    padding: 5px;

}

.lineal{

    float: left;
}

.head_logo{

    width: 25%;
    /*text-align: center;*/
    padding-left: 20px;
    padding-right: 20px;
}

.head_title{


    padding-top: 40px;
    width: 30%;
    text-align: center;
}

.head_options{

    padding-top: 40px;
    width: 40%;
    text-align: right;
    font-size: 2em;
    color: #737171;
}

.sub_titles{

    text-align: center;
    background-color: #000000;

}

#conten{

    margin: auto;
    padding: 0;


}


iframe{

    border: solid 1px;
    width: 640px;
    height: 360px;

    /*      width: 750px;
          height: 422px;*/


}
.channel{

    float: left;
    margin-right: 20px;
    margin-top: 10px;


}

.iframeDesing {




}
.menu{

    float:left;
    margin-top: 10px;

    width: 10%;
    height: 920px;
    background-color: #000000;
}

.levelmeter{

    float:right;

    width: 74px;
    height: 362px;
    background-color: #003399;
    background:url("../img/Meter_disable.png");
}

.main{

    float:left;
    /*width: 90%;*/
}

/* Video HLS */

.video-hls{

    width: 640px;
    height: 360px;

    /*      width: 750px;
          height: 422px;*/


}



.clear{

    clear: both;
}

/* Video JS */

.vjs-control-bar {

    background-color: #000000 !important;
}

.vjs-default-skin .vjs-volume-level {

    background: #FF123E url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAP0lEQVQIHWWMAQoAIAgDR/QJ/Ub//04+w7ZICBwcOg5FZi5iBB82AGzixEglJrd4TVK5XUJpskSTEvpdFzX9AB2pGziSQcvAAAAAAElFTkSuQmCC) -50% 0 repeat !important;

}

.vjs-default-skin .vjs-play-progress {

 background: #FF123E;


    background: #FF123E url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAP0lEQVQIHWWMAQoAIAgDR/QJ/Ub//04+w7ZICBwcOg5FZi5iBB82AGzixEglJrd4TVK5XUJpskSTEvpdFzX9AB2pGziSQcvAAAAAAElFTkSuQmCC) -50% 0 repeat !important;
}
