
@import url("player_desktop.css");

/* PLAYER EN CADENASER.COM - reescritura de player-desktop.css en portal cadenaser.com
La definicion base es para hueco FOTONOTICIA en noticia 
====================================================================================================================== */

/* base: modo a la carta (info=a la carta) */

.player-cadenaser {background: #f4f4f4; border: 1px solid #e5e5e5; color: #000;}
.player-cadenaser .player-inner {box-shadow: none;}
.player-cadenaser .control {border-color: #ddd;}
.player-cadenaser .play .ico .icon-play,
.player-cadenaser .play .ico .icon-pause {color: #000;}
.player-cadenaser .play:hover .ico .icon-play ,
.player-cadenaser .play:focus .ico .icon-play ,
.player-cadenaser .play:hover .ico .icon-pause,
.player-cadenaser .play:focus .ico .icon-pause {color: #009fe1;}
.player-cadenaser .volume .ico {background-color: transparent;}
.player-cadenaser .volume .dot,
.player-cadenaser .info .track .dot {box-shadow: 0 0 0 2px rgba(25, 30, 34, 0.11);}
.player-cadenaser .volume .dot:hover,
.player-cadenaser .volume .dot:focus,
.player-cadenaser .info .track .dot:hover,
.player-cadenaser .info .track .dot:focus {box-shadow: 0 0 0 2px rgba(0, 159, 255, 1); background: #fff;}
.player-cadenaser .volume .slider,
.player-cadenaser .info .track {background: #b0b0b0;}
.player-cadenaser .info .track .loaded {background: #8e8e8e;}
.player-cadenaser .info span[class*="-time"] {color: #000;}
/* ocultamos rotulo esta sonando */
.player-cadenaser .info .titulo em {display: none;}
.player-cadenaser .info .programa {margin-left: 0; padding-left: 36px;}

.player-cadenaser .info .titulo span.fade {top: 0;
                               background: -moz-linear-gradient(left, rgba(244,244,244,0) 0%, rgba(244,244,244,0.99) 99%, rgba(244,244,244,1) 100%); 
                               background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(244,244,244,0)), color-stop(99%,rgba(244,244,244,0.99)), color-stop(100%,rgba(244,244,244,1))); 
                               background: -webkit-linear-gradient(left, rgba(244,244,244,0) 0%,rgba(244,244,244,0.99) 99%,rgba(244,244,244,1) 100%);
                               background: -o-linear-gradient(left, rgba(244,244,244,0) 0%,rgba(244,244,244,0.99) 99%,rgba(244,244,244,1) 100%); 
                               background: -ms-linear-gradient(left, rgba(244,244,244,0) 0%,rgba(244,244,244,0.99) 99%,rgba(244,244,244,1) 100%); 
                               background: linear-gradient(to right, rgba(244,244,244,0) 0%,rgba(244,244,244,0.99) 99%,rgba(244,244,244,1) 100%); 
                               filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#f4f4f4',GradientType=1 ); 
}
.player-cadenaser .barra {background-color: rgba(0,0,0,1);}
.player-cadenaser .on .barra {background-color: rgba(0,0,0,0.8);}
.player-cadenaser .share ul ul button,
.player-cadenaser .share .redes-active .prim button {color: #000; background: #e4e4e4;}
.player-cadenaser .share .redes-active .prim button:hover span,
.player-cadenaser .share .redes-active .prim button:focus span {color: #000;}
.player-cadenaser .form-mail .txt {color: #fff;}
.player-cadenaser .info .embed .control-conf {width: 143px;}
.player-cadenaser .embed .inner-embed {padding-right: 120px;}

/* modo en directo */

.player-cadenaser.en-directo .emisora .nombre {background: #eaeaea; border-color: #eaeaea; padding-right: 0;}
.player-cadenaser.en-directo .emisora .conf {border-color: #eaeaea;}
/* capa cambiar emisora */
.player-cadenaser .info .conf-emisora .inner-conf {padding-right: 110px;}
.player-cadenaser .info .control-conf {width: 106px;}
.player-cadenaser .info .inner-conf .select {width: 60%;}
.player-cadenaser .info .inner-conf .select + .select {width: 40%;}
.player-cadenaser .info .control-conf .btn-secundary {padding: 0 8px;}


/* si estamos en dispositivo touch (noticia movil) */

.player-cadenaser.player-touch .volume {display: none;}
.player-cadenaser.player-touch .info .track-wrapper {margin-left: 0;}
.player-cadenaser.player-touch .info .form-mail {background-color: #009fe1; top: 0; bottom: auto; padding-right: 41px; height: 90px;}
.player-cadenaser.player-touch .info .form-mail .form-mail-inner {margin-right: -37px; padding-right: 0;}
.player-cadenaser.player-touch .info .form-mail .action {left: 5px; top: auto; bottom: 3px;}
.player-cadenaser.player-touch .info .form-mail .close {bottom: 0; top: auto}
.player-cadenaser.player-touch .info .emisora {padding-left: 100px;}
.player-cadenaser.player-touch .barra {width: 1px;}
.player-cadenaser.player-touch .inverso {left: 0;}
.player-cadenaser.player-touch.en-directo .emisora {padding: 0;}
.player-cadenaser.player-touch.en-directo .emisora .nombre {padding: 0; font-size: 10px;}
.player-cadenaser.player-touch.en-directo .control .label {display: block; position: absolute; bottom: 1px; left: 112px; width: 80px; margin: 0; font-size: 12px; margin: 0;}
.player-cadenaser.player-touch.a-la-carta .programa {padding-right: 0;}
.player-cadenaser.player-touch.a-la-carta .track-wrapper {margin-left: 0;}

@media screen and (max-width: 300px) { /* iphone 4 vertical */

.player-cadenaser.player-touch .info .total-time {display: none;}
.player-cadenaser.player-touch .info .track-wrapper {padding-right: 10px;}
.player-cadenaser.player-touch.en-directo .emisora .nombre {max-width: 140px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

}



