
/* PLAYER EN CADENASER.COM - reescritura de cs-player-grande.css para sumario ALINEADO A UN LADO en noticia de cadenaser.com ====================================================================================================================== */

.player-cadenaser,
.player-cadenaser .player-inner {height: 40px;}
.player-cadenaser .player-inner {padding: 0 90px 0 36px;}
.player-cadenaser .programa {display: none;}

/* play y pausa */

.player-cadenaser .control,
.player-cadenaser .play,
.player-cadenaser .play .ico {width: 40px; height: 40px;}
.player-cadenaser .control {margin: 0; padding: 0;}
.player-cadenaser .play {margin: 0; border: none;}
.player-cadenaser .play .ico .icon-play {padding-left: 0;}
.player-cadenaser .play .ico span {font-size: 14px; line-height: 40px; height: 40px; width: 40px; margin: 0;}
.player-cadenaser.a-la-carta .control .label {display: none;}
.player-cadenaser .control .volume {left: 165px; bottom: 1px; width: 50px;}
.player-cadenaser .volume .ico {width: 25px;}
.player-cadenaser .volume .slider {width: 20px;}
.player-cadenaser .volume .dot,
.player-cadenaser .info .track .dot {width: 7px; height: 7px; top: -2px;}

/* linea tiempo */

.player-cadenaser .info {padding-top: 0;}
.player-cadenaser .info .track-wrapper {margin-left: 0; padding: 12px 0 0 55px;}
.player-cadenaser .info .current-time {width: 55px; top: 11px; }
.player-cadenaser .info span.total-time {display: none;}

/* compartires */

.player-cadenaser .share {padding-top: 5px; width: 30px; height: 30px;}
.player-cadenaser .share .redes-active ul {width: 75px;}
.player-cadenaser .share li,
.player-cadenaser .share button {width: 40px;}
.player-cadenaser .share li:first-child,
.player-cadenaser .share .open-redes,
.player-cadenaser .share .close-redes {width: 30px; margin: 0;}
.player-cadenaser .share button {background: transparent; color: #000;}
.player-cadenaser .share .icon-share {font-weight: 700;}
.player-cadenaser .share li.c-emb,
.player-cadenaser .share li.c-ml {display: none!important;} /* este important se puede quitar en produccion */

/* en directo */

.player-cadenaser.en-directo .emisora {display: none;}
.player-cadenaser.en-directo .control .label {display: block; position: absolute; right: -90px; top: 0; width: 80px; margin: 0; font-size: 12px;}

/* en directo en touch */

.player-cadenaser.player-touch.en-directo .emisora {display: block; position: absolute; right: auto; left: 98px; top: 5px;}
.player-cadenaser.player-touch.en-directo .emisora .nombre {font-size: 12px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.player-cadenaser.player-touch.en-directo .emisora,
.player-cadenaser.player-touch.en-directo .emisora .nombre {max-width: 120px;}
.player-cadenaser.player-touch.en-directo .emisora .conf {display: none;}
.player-cadenaser.player-touch.en-directo .control .label {display: block; position: absolute; right: -100px; top: 0; width: 100px; font-size: 12px;}
.player-cadenaser.player-touch.en-directo .control .label:after  {content: "|"; margin: 0 5px}

/* para sumario a un lado en noticia movil */

@media screen and (max-width: 270px) {

.player-cadenaser.player-touch .share {display: none;}
.player-cadenaser.player-touch .player-inner {padding-right: 10px;}
.player-cadenaser.player-touch .info .track-wrapper {font-size: 10px; padding-left: 45px;}
.player-cadenaser.player-touch .info .current-time {line-height: 20px;}
.player-cadenaser.player-touch.en-directo .control .label {left: 50px;}

}

@media screen and (max-width: 230px) { /* iphone 4 vertical sumario pequeno noticia movil */

.player-cadenaser.player-touch.en-directo .control .label  {width: 70px;}
.player-cadenaser.player-touch.en-directo .control .label:after  {display: none;}
.player-cadenaser.player-touch.en-directo .emisora {display: none;}

}
