.mm_playlist_container{
    color:white;
    font-family:Arial;
    font-size:12px;
    width:100%;
    height:100%;
    overflow-y: scroll;
    position:relative;
}

.mm_playlist_item_container{
    width:100%;
    position:relative;
    height:60px;
    background:#333;
    border-bottom:1px dotted #888;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    cursor:pointer;
}

.mm_playlist_item_container:hover{
    background:#555;
}

.mm_playlist_cover{
    padding:5px;
}

.mm_playlist_cover img{
    width:50px;
    height:50px;
    float:left;
}

.mm_playlist_title{
    padding-left:70px;
    font-weight:bold;
}

.mm_playlist_subtitle{
    float:left;
    font-size:13;
    margin-left: 15px;
    margin-top: 5;
    color:#aaa;
    display:none;
}

.mm_playlist_duration{
    float:right;
    padding-right:10px;
    font-size:12px;
}

.mm_playlist_footer{
    position:absolute;
    width:100%;
    height:30px;
    bottom:-30px;
    background:#222;
}

.mm_playlist_next{
    float:right;
    cursor:pointer;
}

.mm_playlist_prev{
    float:left;
    cursor:pointer;
}

.mm_playlist_next::after{
    content: "Next";
    color: rgb(255, 255, 255);
    line-height: 200%;
    padding-right: 10px;
    font-family: Arial;
}

.mm_playlist_prev::after{
    content: "Prev";
    color: rgb(255, 255, 255);
    line-height: 200%;
    padding-left: 10px;
    font-family: Arial;
}

.mm_playlist_item_selected{
    background:#777;
}