@font-face {
    font-family: 'proxima_nova';
    src: url('/psdmedia/media/top/skins/playser/assets/fonts/mark_simonson_-_proxima_nova_regular-webfont.eot');
    src: url('/psdmedia/media/top/skins/playser/assets/fonts/mark_simonson_-_proxima_nova_regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/psdmedia/media/top/skins/playser/assets/fonts/mark_simonson_-_proxima_nova_regular-webfont.woff') format('woff'),
    url('/psdmedia/media/top/skins/playser/assets/fonts/mark_simonson_-_proxima_nova_regular-webfont.ttf') format('truetype'),
    url('/psdmedia/media/top/skins/playser/assets/fonts/mark_simonson_-_proxima_nova_regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: 400;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova';
    src: url('/psdmedia/media/top/skins/playser/assets/fonts/mark_simonson_-_proxima_nova_semibold-webfont.eot');
    src: url('/psdmedia/media/top/skins/playser/assets/fonts/mark_simonson_-_proxima_nova_semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/psdmedia/media/top/skins/playser/assets/fonts/mark_simonson_-_proxima_nova_semibold-webfont.woff') format('woff'),
    url('/psdmedia/media/top/skins/playser/assets/fonts/mark_simonson_-_proxima_nova_semibold-webfont.ttf') format('truetype'),
    url('/psdmedia/media/top/skins/playser/assets/fonts/mark_simonson_-_proxima_nova_semibold-webfont.svg#proxima_nova_ltsemibold') format('svg');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_bold';
    src: url('/psdmedia/media/top/skins/playser/assets/fonts/mark_simonson_-_proxima_nova_bold-webfont.eot');
    src: url('/psdmedia/media/top/skins/playser/assets/fonts/mark_simonson_-_proxima_nova_bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/psdmedia/media/top/skins/playser/assets/fonts/mark_simonson_-_proxima_nova_bold-webfont.woff') format('woff'),
    url('/psdmedia/media/top/skins/playser/assets/fonts/mark_simonson_-_proxima_nova_bold-webfont.ttf') format('truetype'),
    url('/psdmedia/media/top/skins/playser/assets/fonts/mark_simonson_-_proxima_nova_bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

div#basePlayer {
    /*float: left;*/
    position: relative;
    height: 100%;
    --overflow: hidden;
    font: 12px/22px proxima_nova, Helvetica, Helvetica Neue, Arial;
}

div#fondoPlayer {
/*float: left;*/
position: relative;
height: 60px;
background-color: #0e1214;
}


div#fondoPlayer .botones {
    background-color:#191e23;
    top: 0px;
    width: 26px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    --border-right: 1px solid #303840;
    cursor: pointer;
    position: absolute;
}
div#fondoPlayer .prev{
    margin-left: 1px;
    background-image: url(/psdmedia/media/top/skins/playser/assets/img/anterior2.png);
    float:left;
	width:30px;
	position:relative;
}
div#fondoPlayer .next{
    background-image: url(/psdmedia/media/top/skins/playser/assets/img/siguiente2.png);
	width:30px;
	position:relative;
	float:left;
}
div#fondoPlayer .vacio{
    background-image: url(/psdmedia/media/top/skins/playser/assets/img/vacio.png);
}
div#fondoPlayer .iniciar{
    background: #0e1214 url(/psdmedia/media/top/skins/playser/assets/img/play.png) no-repeat center !important;
    height: 56px !important;
    left: 74px;
}
div#fondoPlayer .pausar{
    background: #0e1214 url(/psdmedia/media/top/skins/playser/assets/img/pause.png) no-repeat center !important;
    height: 56px !important;
    left: 74px;
}
div#fondoPlayer .volumen{
    background-color: #0e1214;
    height: 56px;
    width:50px;
    background-image: url(/psdmedia/media/top/skins/playser/assets/img/volumen.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
}
div#fondoPlayer .descripcion{
	float:left;
    left: 0px !important;
    color: white;
    height: 40px;
    padding: 16px 0px 0px 0px;
    line-height: 2em;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    --margin-left: 10px;
	top:0px;
	padding-left:10px;
	border-left: 1px solid #303840;
	max-width:calc(100% - 120px);
}

.gris{
    background-color: #9c9c9c;
}

.azul {
    background-color: #009fe1;
}

.progreso {
    height: 4px;
    top: 56px;
    position: absolute;
    width: 100%;
}

.progressButton {
    top: 46px;
    height: 14px;
    width: 100%;
    cursor: pointer;
    position: absolute;
}

.progreso div {
    width: 100%;
    height: 4px;
}

div#basePlayer .volumenNivel{
    background-color: #0e1214;
    width: 300px;
    height: 40px;
    top:60px;
    padding: 16px 0px 0px 10px;
    line-height: 2em;
    white-space: nowrap;
    right: 0px;
	left: auto;
    position: absolute;
    color:#9c9c9c;
    font-weight: bold;
    cursor:pointer;
}
div#basePlayer .volumenNivelRecuadro{
    border:2px solid #9c9c9c;
    border-bottom:4px solid #0e1214;
    width: 25px;
    height: 28px;
    top:-50px;
    padding: 16px 0px 0px 10px;
    line-height: 2em;
    white-space: nowrap;
    right: 5px;
    position: absolute;
    z-index:10;
    cursor:pointer;
}
div#basePlayer .volumenNivelX, div#basePlayer .volumenNivel1, div#basePlayer .volumenNivel2, div#basePlayer .volumenNivel3, div#basePlayer .volumenNivel4, div#basePlayer .volumenNivel5 {
    position:relative;
    width:22px;
    height:22px;
    top: 2px;
    margin-right:10px;
    display:inline-block;
    background: #0e1214 url(/psdmedia/media/top/skins/playser/assets/img/volumennivel.png) no-repeat center !important;
    color:#ffffff;
    text-align:center;
    cursor:pointer;
}
div#basePlayer .volItemSelected {
    background: #0e1214 url(/psdmedia/media/top/skins/playser/assets/img/volumennivel_over.png) no-repeat center !important;
    color:#000000;
}

div#basePlayer .volumenNivelX{
    margin-left:20px;
}
div#basePlayer .volumenNivelX:hover, div#basePlayer .volumenNivel1:hover, div#basePlayer .volumenNivel2:hover, div#basePlayer .volumenNivel3:hover, div#basePlayer .volumenNivel4:hover, div#basePlayer .volumenNivel5:hover {
    background: #0e1214 url(/psdmedia/media/top/skins/playser/assets/img/volumennivel_over.png) no-repeat center !important;
    color:#000000;
}

.botones_izquierda_playser{
	height:50px;
	position:absolute;
	right:0px;
	top:0px;
	background:#0e1214;
}

.botones_izquierda_playser_container{
	position:absolute;
	left:-100px;
}

.botones_izquierda_playser_iconos{
	position:relative;width:100px;height:25px;top:17px;
}

.botones_izquierda_playser_iconos_volumen{
	cursor:pointer;width:30px;height:20px;position:absolute;right:0px;background:url("/psdmedia/media/top/skins/playser/assets/img/volumen.png") no-repeat scroll center center #0e1214 !important;top:5px;
}

.botones_izquierda_playser_iconos_volumen_panel{
	position:absolute;width:108px;
}

.volumen_panel_fondo{
	width:108px;height:25px;position:absolute;top:0px;background:url(/psdmedia/media/top/skins/playser/assets/img/fondovolumen_horizontal.png);cursor:pointer;
}

.volumen_panel_marca{
	cursor:pointer;top:5px !important;width:11px;height:13px;position:absolute !important;left: 41.3px;background-image: url('/psdmedia/media/top/skins/playser/assets/img/volumen_nivel_marcador.png');
}

.botones_izquierda_playser_iconos_resto{
	position:relative;
}

.botones_izquierda_playser_iconos_resto_tiempo{
	float:left;color:white;padding:0 10px 0 30px;top:21px;position:relative;width:35px;
}

.botones_playser_conectar{
	cursor:pointer;width:35px;height:60px;float:left;background:url("/psdmedia/media/top/skins/playser/assets/img/btn_conectar.png") no-repeat scroll center center #0e1214 !important;
}

.botones_playser_separador{
	width:2px;height:60px;float:left;background:url("/psdmedia/media/top/skins/playser/assets/img/separador.png") no-repeat scroll center center #0e1214 !important;
}

.botones_playser_llevatelo{
	cursor:pointer;width:35px;height:60px;float:left;background:url("/psdmedia/media/top/skins/playser/assets/img/btn_llevatelo.png") no-repeat scroll center center #0e1214 !important;
}

.botones_playser_comentarios{
	cursor:pointer;width:35px;height:60px;float:left;background:url("/psdmedia/media/top/skins/playser/assets/img/btn_comentarios.png") no-repeat scroll center center #0e1214 !important;
}

.botones_playser_numero_comentarios{
	width:35px;height:60px;float:left;top:21px;margin-left:-3px;color:white;position:relative;
}


@-webkit-keyframes pauCar{
0% {
    background-position: 0 center;
}
100% {
    background-position: -1300px center;
}
}

@keyframes pauCar {
0% {
    background-position: 0 center;
}
100% {
    background-position: -1300px center;
}
}

@-webkit-keyframes normalPlay {
0% {
    background-position: 0 center;
}
100% {
    background-position: -1300px center;
}
}


@keyframes normalPlay {
0% {
    background-position: 0 center;
}
100% {
    background-position: -1300px center;
}
}
/*
@keyframes throbr3 {
0% {
    background-position: 0 center;
}
100% {
    background-position: -208px center;
}
}

*/
@keyframes throbr3 {
0% {
    background-position: 0 center;
}
100% {
    background-position: -208px center;
}
}


@-webkit-keyframes throbr3 {
   from { background-position:    0px; }
     to { background-position: -208px; }
}
@-moz-keyframes throbr3 {
   from { background-position:    0px; }
     to { background-position: -208px; }
}
@-ms-keyframes throbr3 {
   from { background-position:    0px; }
     to { background-position: -208px; }
}
@-o-keyframes throbr3 {
   from { background-position:    0px; }
     to { background-position: -208px; }
}
@keyframes throbr3 {
   from { background-position:    0px; }
     to { background-position: -208px; }
}


.botonesplaypause .cargando{
	-webkit-animation: throbr3 1s steps(8) infinite;
    -moz-animation: throbr3 1s steps(8) infinite;
    -ms-animation: throbr3 1s steps(8) infinite;
    -o-animation: throbr3 1s steps(8) infinite;
    animation: throbr3 1s steps(8) infinite;
    background-image: url("/psdmedia/media/top/skins/playser/assets/img/azul.png");
	height:56px !important;
}

.botonesplaypause .cargando_pause{
	-webkit-animation: throbr3 1s steps(8) infinite;
    -moz-animation: throbr3 1s steps(8) infinite;
    -ms-animation: throbr3 1s steps(8) infinite;
    -o-animation: throbr3 1s steps(8) infinite;
    animation: throbr3 1s steps(8) infinite;
    background-image: url("/psdmedia/media/top/skins/playser/assets/img/azul.png");
	height:56px !important;
}

.botonplaypause{
	left:10px !important;
	background-color:#0e1214 !important;
}

.gradient{
	width:34px;
	height:56px;
	float:left;
	position:relative;
	top-13px;
	background:url(/psdmedia/media/top/skins/playser/assets/img/gradient.png);
	left:36px;
}

.botonesplaypause{
	width:45px;
	position:relative;
	float:left;
	height:60px;
}
