.mm_playlist_container{
    font-family:Arial;
    background:#333;
}
.mm_playlist_item_container{
    width:25%;
    height:50%;
    overflow:hidden;
    background:#444;
    float:left;
    position:relative;
}
.mm_playlist_cover{
	width:100%;
	height:100%;
}
.mm_playlist_cover img{
    width:100%;
    height:100%;
    opacity:0.5;
}
.mm_playlist_subtitle{
    display:none;
}
.mm_playlist_title{
    position:absolute;
    top:0px;
    width:100%;
    margin:auto;
    background:rgba(0, 0, 0, 0.5);
    color:white;
    padding:7px;
}
.mm_playlist_duration{
    position:absolute;
    bottom:5px;
    right:5px;
    background:#222;
    padding:5px;
    border-radius:10px;
    color:white;
    font-size:12;
}
.mm_playlist_item_container:hover .mm_playlist_cover img{
    opacity:1;
}
*{
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}