/* reset */
@import url("reset.css");

/* fuentes */
@import url("fuentes.css");

/* iconos */
@import url("iconos.css");

/* playertop base */
@import url("playertop_desktop.css");

/* ====================================================================================================================== */

/* PLAYER EN CADENASER.COM
   Reescritura de playertop-desktop.css en portal cadenaser.com
   
/* ====================================================================================================================== */

/* EN ESCRITORIO

   Estilos comunes todos los huecos de noticia en cadenaser.com
   
     grande = fotonoticia (770px)
     mediano = sumario al centro (545px)
     pequeno = sumario a un lado (250px)
   
   base: modo a la carta (info=a la carta)
*/

.cs-grande,
.cs-mediano,
.cs-pequeno {background: #f4f4f4; border: 1px solid #e5e5e5; color: #000;}
.cs-grande .playertop-inner,
.cs-mediano .playertop-inner,
.cs-pequeno .playertop-inner {box-shadow: none;}
.cs-grande .control,
.cs-mediano .control,
.cs-pequeno .control {border-color: #ddd;}
.cs-grande .play .ico .icon-play,
.cs-grande .play .ico .icon-pause,
.cs-mediano .play .ico .icon-play,
.cs-mediano .play .ico .icon-pause,
.cs-pequeno .play .ico .icon-play,
.cs-pequeno .play .ico .icon-pause {color: #000;}
.cs-grande .play:hover .ico .icon-play ,
.cs-grande .play:focus .ico .icon-play ,
.cs-grande .play:hover .ico .icon-pause,
.cs-grande .play:focus .ico .icon-pause,
.cs-mediano .play:hover .ico .icon-play ,
.cs-mediano .play:focus .ico .icon-play ,
.cs-mediano .play:hover .ico .icon-pause,
.cs-mediano .play:focus .ico .icon-pause,
.cs-pequeno .play:hover .ico .icon-play ,
.cs-pequeno .play:focus .ico .icon-play ,
.cs-pequeno .play:hover .ico .icon-pause,
.cs-pequeno .play:focus .ico .icon-pause {color: #009CDE;}
.cs-grande .volume .ico,
.cs-mediano .volume .ico,
.cs-pequeno .volume .ico {background-color: transparent;}
.cs-grande .volume .dot,
.cs-grande .info .track .dot,
.cs-mediano .volume .dot,
.cs-mediano .info .track .dot,
.cs-pequeno .volume .dot,
.cs-pequeno .info .track .dot {box-shadow: 0 0 0 2px rgba(25, 30, 34, 0.11);}
.cs-grande .volume .dot:hover,
.cs-grande .volume .dot:focus,
.cs-grande .info .track .dot:hover,
.cs-grande .info .track .dot:focus,
.cs-mediano .volume .dot:hover,
.cs-mediano .volume .dot:focus,
.cs-mediano .info .track .dot:hover,
.cs-mediano .info .track .dot:focus,
.cs-pequeno .volume .dot:hover,
.cs-pequeno .volume .dot:focus,
.cs-pequeno .info .track .dot:hover,
.cs-pequeno .info .track .dot:focus {box-shadow: 0 0 0 2px #009CDE; background: #fff;}
.cs-grande .volume .slider,
.cs-grande .info .track,
.cs-mediano .volume .slider,
.cs-mediano .info .track,
.cs-pequeno .volume .slider,
.cs-pequeno .info .track {background: #b0b0b0;}
.cs-grande .info .track .loaded,
.cs-mediano .info .track .loaded,
.cs-pequeno .info .track .loaded {background: #8e8e8e;}
.cs-grande .info span[class*="-time"],
.cs-mediano .info span[class*="-time"],
.cs-pequeno .info span[class*="-time"] {color: #000;}
/* ocultamos rotulo esta sonando */
.cs-grande .info .titulo em,
.cs-mediano .info .titulo em,
.cs-pequeno .info .titulo em {display: none;}
.cs-grande .info .programa,
.cs-mediano .info .programa,
.cs-pequeno .info .programa {margin-left: 0; padding-left: 36px;}

.cs-grande .info .titulo span.fade,
.cs-mediano .info .titulo span.fade,
.cs-pequeno .info .titulo span.fade {top: 0;
                               background: -moz-linear-gradient(left, rgba(244,244,244,0) 0%, rgba(244,244,244,0.99) 99%, rgba(244,244,244,1) 100%); 
                               background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(244,244,244,0)), color-stop(99%,rgba(244,244,244,0.99)), color-stop(100%,rgba(244,244,244,1))); 
                               background: -webkit-linear-gradient(left, rgba(244,244,244,0) 0%,rgba(244,244,244,0.99) 99%,rgba(244,244,244,1) 100%);
                               background: -o-linear-gradient(left, rgba(244,244,244,0) 0%,rgba(244,244,244,0.99) 99%,rgba(244,244,244,1) 100%); 
                               background: -ms-linear-gradient(left, rgba(244,244,244,0) 0%,rgba(244,244,244,0.99) 99%,rgba(244,244,244,1) 100%); 
                               background: linear-gradient(to right, rgba(244,244,244,0) 0%,rgba(244,244,244,0.99) 99%,rgba(244,244,244,1) 100%); 
                               filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#f4f4f4',GradientType=1 ); 
}
.cs-grande .barra,
.cs-mediano .barra,
.cs-pequeno .barra {background-color: rgba(0,0,0,1);}
.cs-grande .on .barra,
.cs-mediano .on .barra,
.cs-pequeno .on .barra {background-color: rgba(0,0,0,0.8);}
.cs-grande .share ul ul button,
.cs-grande .share .redes-active .prim button,
.cs-mediano .share ul ul button,
.cs-mediano .share .redes-active .prim button,
.cs-pequeno .share ul ul button,
.cs-pequeno .share .redes-active .prim button {color: #000; background: #e4e4e4;}
.cs-grande .share .redes-active .prim button:hover span,
.cs-grande .share .redes-active .prim button:focus span,
.cs-mediano .share .redes-active .prim button:hover span,
.cs-mediano .share .redes-active .prim button:focus span,
.cs-pequeno .share .redes-active .prim button:hover span,
.cs-pequeno .share .redes-active .prim button:focus span {color: #000;}
.cs-grande .form-mail .txt,
.cs-mediano .form-mail .txt,
.cs-pequeno .form-mail .txt {color: #fff;}
.cs-grande .info .embed .control-conf,
.cs-mediano .info .embed .control-conf,
.cs-pequeno .info .embed .control-conf {width: 143px;}
.cs-grande .embed .inner-embed,
.cs-mediano .embed .inner-embed,
.cs-pequeno .embed .inner-embed {padding-right: 120px;}

/* modo en directo */

.cs-grande.en-directo .emisora .nombre,
.cs-mediano.en-directo .emisora .nombre,
.cs-pequeno.en-directo .emisora .nombre {background: #eaeaea; border-color: #eaeaea; padding-right: 0;}
.cs-grande.en-directo .emisora .conf,
.cs-mediano.en-directo .emisora .conf,
.cs-pequeno.en-directo .emisora .conf {border-color: #eaeaea;}
/* capa cambiar emisora */
.cs-grande .info .conf-emisora .inner-conf,
.cs-mediano .info .conf-emisora .inner-conf,
.cs-pequeno .info .conf-emisora .inner-conf {padding-right: 110px;}
.cs-grande .info .control-conf,
.cs-mediano .info .control-conf,
.cs-pequeno .info .control-conf {width: 106px;}
.cs-grande .info .inner-conf .select,
.cs-mediano .info .inner-conf .select,
.cs-pequeno .info .inner-conf .select {width: 60%;}
.cs-grande .info .inner-conf .select + .select,
.cs-mediano .info .inner-conf .select + .select,
.cs-pequeno .info .inner-conf .select + .select {width: 40%;}
.cs-grande .info .control-conf .btn-secundary,
.cs-mediano .info .control-conf .btn-secundary,
.cs-pequeno .info .control-conf .btn-secundary {padding: 0 8px;}


/* si estamos en dispositivo touch (noticia movil) */

.cs-mediano.playertop-touch .volume,
.cs-pequeno.playertop-touch .volume {display: none;}
.cs-mediano.playertop-touch .info .track-wrapper,
.cs-pequeno.playertop-touch .info .track-wrapper {margin-left: 0;}
.cs-mediano.playertop-touch .info .form-mail,
.cs-pequeno.playertop-touch .info .form-mail {background-color: #009CDE; top: 0; bottom: auto; padding-right: 41px; height: 90px;}
.cs-mediano.playertop-touch .info .form-mail .form-mail-inner,
.cs-pequeno.playertop-touch .info .form-mail .form-mail-inner {margin-right: -37px; padding-right: 0;}
.cs-mediano.playertop-touch .info .form-mail .action,
.cs-pequeno.playertop-touch .info .form-mail .action {left: 5px; top: auto; bottom: 3px;}
.cs-mediano.playertop-touch .info .form-mail .close,
.cs-pequeno.playertop-touch .info .form-mail .close {bottom: 0; top: auto}
.cs-mediano.playertop-touch .info .emisora,
.cs-pequeno.playertop-touch .info .emisora {padding-left: 100px;}
.cs-mediano.playertop-touch .barra,
.cs-pequeno.playertop-touch .barra {width: 1px;}
.cs-mediano.playertop-touch .inverso,
.cs-pequeno.playertop-touch .inverso {left: 0;}
.cs-mediano.playertop-touch.en-directo .emisora,
.cs-pequeno.playertop-touch.en-directo .emisora {padding: 0;}
.cs-mediano.playertop-touch.en-directo .emisora .nombre,
.cs-pequeno.playertop-touch.en-directo .emisora .nombre {padding: 0; font-size: 10px;}
.cs-mediano.playertop-touch.en-directo .control .label,
.cs-pequeno.playertop-touch.en-directo .control .label {display: block; position: absolute; bottom: 1px; left: 112px; width: 80px; margin: 0; font-size: 12px; margin: 0;}
.cs-mediano.playertop-touch.a-la-carta .programa,
.cs-pequeno.playertop-touch.a-la-carta .programa {padding-right: 0;}
.cs-mediano.playertop-touch.a-la-carta .track-wrapper,
.cs-pequeno.playertop-touch.a-la-carta .track-wrapper {margin-left: 0;}




/* ====================================================================================================================== */
/* PLAYER EN HUECO MEDIANO - sumario centrado 545px ESCRITORIO
/* ====================================================================================================================== */

.cs-mediano,
.cs-mediano .playertop-inner,
.cs-pequeno,
.cs-pequeno .playertop-inner {height: 90px;}
.cs-mediano .playertop-inner,
.cs-pequeno .playertop-inner {padding-left: 88px;}
.cs-mediano .control,
.cs-pequeno .control {border: 0; width: 80px; height: 62px; margin: 15px 0 0;}
.cs-mediano .play,
.cs-pequeno .play {border-width: 3px; height: 61px; width: 61px; margin-top: -3px;}
.cs-mediano .play .ico span,
.cs-pequeno .play .ico span {font-size: 20px; line-height: 61px; height: 61px; width: 61px; margin: -12px 0 0 -12px;}
.cs-mediano .play .ico .icon-play,
.cs-pequeno .play .ico .icon-play {padding-left: 5px; width: 56px;}
.cs-mediano .control .label,
.cs-pequeno .control .label {position: absolute; font-size: 12px; right: -91px; top: -12px;}
.cs-mediano .ico_sonido,
.cs-pequeno .ico_sonido {top: -21px; left: 0;}
.cs-mediano .control .volume,
.cs-pequeno .control .volume {position: absolute; bottom: -9px; left: 80px; z-index: 4; float: none; margin-left: 0;}
.cs-mediano .info,
.cs-pequeno .info {padding-top: 16px;}
.cs-mediano .info .titulo span,
.cs-pequeno .info .titulo span {font-size: 12px;}
.cs-mediano .info .emisora,
.cs-pequeno .info .emisora {top: 0;}
.cs-mediano .info .programa,
.cs-pequeno .info .programa {padding: 0; top: 8px;}
.cs-mediano.a-la-carta .track-wrapper,
.cs-pequeno.a-la-carta .track-wrapper {margin-left: 110px;}

/* compartires */

.cs-mediano .share,
.cs-pequeno .share {padding-top: 15px;}
.cs-mediano .share .redes .prim,
.cs-pequeno .share .redes .prim {display: none;}
.cs-mediano .share .redes-active .prim,
.cs-pequeno .share .redes-active .prim {display: block; float: left; width: 40px;}
.cs-mediano .share .redes-active .prim,
.cs-pequeno .share .redes-active .prim button {background: #009CDE;}

/* capas desplegables */

.cs-mediano .info .form-mail,
.cs-mediano .info .embed,
.cs-mediano .info .conf-emisora,
.cs-pequeno .info .form-mail,
.cs-pequeno .info .embed,
.cs-pequeno .info .conf-emisora {background-color: #009CDE; top: 0; bottom: auto; padding-right: 41px; height: 90px;}
.cs-mediano .info .form-mail .form-mail-inner,
.cs-pequeno .info .form-mail .form-mail-inner {margin-right: -37px; padding-right: 0; padding-left: 5px;}
.cs-mediano .info .embed .inner-embed,
.cs-mediano .info .conf-emisora .inner-conf,
.cs-pequeno .info .embed .inner-embed,
.cs-pequeno .info .conf-emisora .inner-conf {margin-right: -41px; padding: 0;}
.cs-mediano .info .conf-emisora,
.cs-pequeno .info .conf-emisora {top: auto; bottom: -11px; height: 92px;}
.cs-mediano .form-mail .txt,
.cs-mediano .info .label,
.cs-pequeno .form-mail .txt,
.cs-pequeno .info .label  {display: none;}
.cs-mediano .info .select,
.cs-pequeno .info .select {width: auto; float: none; height: 28px; border-bottom: 1px solid #14181b; border-right: 0; }
.cs-mediano .info .inner-conf .select,
.cs-mediano .info .inner-conf .select + .select,
.cs-pequeno .info .inner-conf .select,
.cs-pequeno .info .inner-conf .select + .select {width: 100%;}
.cs-mediano .info .inner-conf .select select,
.cs-mediano .info .inner-conf .select + .select select,
.cs-pequeno .info .inner-conf .select select,
.cs-pequeno .info .inner-conf .select + .select select {width: 129%;}
.cs-mediano .info .control-conf,
.cs-pequeno .info .control-conf {position: relative; padding-left:5px; width: auto; display: block; overflow: hidden;}
.cs-mediano .info .control-conf .btn-secundary,
.cs-pequeno .info .control-conf .btn-secundary  {float: left; margin-top: 5px;}
.cs-mediano .info .form-mail .action,
.cs-pequeno .info .form-mail .action {left: 5px; top: auto; bottom: 3px;}
.cs-mediano .info .form-mail .close,
.cs-pequeno .info .form-mail .close {bottom: 0; top: auto}
.cs-mediano .info .control-conf .close,
.cs-pequeno .info .control-conf .close {top: 4px;}
.cs-mediano .info .embed .control-conf,
.cs-pequeno .info .embed .control-conf {width: auto;}
.cs-mediano .info .embed .code,
.cs-pequeno .info .embed .code {border-bottom: 1px solid #000; float: none; width: 100%; line-height: 12px;}
.cs-mediano .info .embed .inner-embed .control-conf .btn-secundary,
.cs-pequeno .info .embed .inner-embed .control-conf .btn-secundary  {margin-top: 3px;}

/* modo en directo */

.cs-mediano.en-directo .programa,
.cs-pequeno.en-directo .programa {padding-right: 0;}
.cs-mediano.en-directo .info .titulo,
.cs-pequeno.en-directo .info .titulo {margin-right: 0;}
.cs-mediano.en-directo .emisora,
.cs-pequeno.en-directo .emisora {padding: 0 0 0 100px;}
.cs-mediano.en-directo .emisora .nombre,
.cs-pequeno.en-directo .emisora .nombre {border-width: 4px 0; background: transparent; border-color: transparent;}
.cs-mediano.en-directo .emisora .conf,
.cs-pequeno.en-directo .emisora .conf {padding: 0; line-height: 12px; width: 23px; background-color: transparent; border-color: #f4f4f4; border-width: 4px 0;}
.cs-mediano.en-directo .emisora .conf span,
.cs-pequeno.en-directo .emisora .conf span {display: none;}
.cs-mediano.en-directo .emisora .conf span[class*="icon"],
.cs-pequeno.en-directo .emisora .conf span[class*="icon"] {display: inline; color: #009CDE;}


/* ====================================================================================================================== */
/* PLAYER EN HUECO PEQUENO sumario alineado a un lado (izq o der) 250px ESCRITORIO
/* ====================================================================================================================== */

.cs-pequeno,
.cs-pequeno .playertop-inner {height: 40px;}
.cs-pequeno .playertop-inner {padding: 0 90px 0 36px;}
.cs-pequeno .programa {display: none;}

/* play y pausa */

.cs-pequeno .control,
.cs-pequeno .play,
.cs-pequeno .play .ico {width: 40px; height: 40px;}
.cs-pequeno .control {margin: 0; padding: 0;}
.cs-pequeno .play {margin: 0; border: none;}
.cs-pequeno .play .ico .icon-play {padding-left: 0;}
.cs-pequeno .play .ico span {font-size: 14px; line-height: 40px; height: 40px; width: 40px; margin: 0;}
.cs-pequeno.a-la-carta .control .label {display: none;}
.cs-pequeno .control .volume {left: 165px; bottom: 1px; width: 50px;}
.cs-pequeno .volume .ico {width: 25px;}
.cs-pequeno .volume .slider {width: 20px;}
.cs-pequeno .volume .dot,
.cs-pequeno .info .track .dot {width: 7px; height: 7px; top: -2px;}

/* linea tiempo */

.cs-pequeno .info {padding-top: 0;}
.cs-pequeno .info .track-wrapper {margin-left: 0; padding: 12px 0 0 55px;}
.cs-pequeno .info .current-time {width: 55px; top: 11px; }
.cs-pequeno .info span.total-time {display: none;}

/* compartires */

.cs-pequeno .share {padding-top: 5px; width: 30px; height: 30px;}
.cs-pequeno .share .redes-active ul {width: 75px;}
.cs-pequeno .share li,
.cs-pequeno .share button {width: 40px;}
.cs-pequeno .share li:first-child,
.cs-pequeno .share .open-redes,
.cs-pequeno .share .close-redes {width: 30px; margin: 0;}
.cs-pequeno .share button {background: transparent; color: #000;}
.cs-pequeno .share .icon-share {font-weight: 700;}
.cs-pequeno .share li.c-emb,
.cs-pequeno .share li.c-ml {display: none!important;} /* este important se puede quitar en produccion */

/* en directo */

.cs-pequeno.en-directo .emisora {display: none;}
.cs-pequeno.en-directo .control .label {display: block; position: absolute; right: -90px; top: 0; width: 80px; margin: 0; font-size: 12px;}

/* ====================================================================================================================== */
/* PLAYER EN VERSION MOVIL
/* ====================================================================================================================== */

.cs-pequeno.playertop-touch.en-directo .emisora {display: block; position: absolute; right: auto; left: 98px; top: 5px;}
.cs-pequeno.playertop-touch.en-directo .emisora .nombre {font-size: 12px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.cs-pequeno.playertop-touch.en-directo .emisora,
.cs-pequeno.playertop-touch.en-directo .emisora .nombre {max-width: 120px;}
.cs-pequeno.playertop-touch.en-directo .emisora .conf {display: none;}
.cs-pequeno.playertop-touch.en-directo .control .label {display: block; position: absolute; right: -100px; top: 0; width: 100px; font-size: 12px;}
.cs-pequeno.playertop-touch.en-directo .control .label:after  {content: "|"; margin: 0 5px}

.cs-mediano.playertop-touch .info .total-time,
.cs-pequeno.playertop-touch .info .total-time {display: none;}
.cs-mediano.playertop-touch .info .track-wrapper,
.cs-pequeno.playertop-touch .info .track-wrapper {padding-right: 10px;}

/* para sumario a un lado en noticia movil */

.cs-pequeno.playertop-touch .playertop-inner {padding-right: 10px;}
.cs-pequeno.playertop-touch .info .track-wrapper {font-size: 10px; padding-left: 45px;}
.cs-pequeno.playertop-touch .info .current-time {line-height: 20px;}
.cs-pequeno.playertop-touch.en-directo .control .label {left: 50px; width: 70px;}
.cs-pequeno.playertop-touch.en-directo .control .label:after  {display: none;}
.cs-pequeno.playertop-touch.en-directo .emisora {display: none;}
.cs-pequeno.playertop-touch.a-la-carta .share {display: none;}

@media screen and (max-width: 320px) {

	.cs-mediano.playertop-touch.en-directo .emisora .nombre,
	.cs-pequeno.playertop-touch.en-directo .emisora .nombre {max-width: 140px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
	.cs-pequeno.playertop-touch .share {display: none;}

}


