
/* PLAYER EN CADENASER.COM - reescritura de cs-player-grande.css para sumario CENTRADO en noticia cadenaser.com ====================================================================================================================== */

.player-cadenaser,
.player-cadenaser .player-inner {height: 90px;}
.player-cadenaser .player-inner {padding-left: 88px;}
.player-cadenaser .control {border: 0; width: 80px; height: 62px; margin: 15px 0 0;}
.player-cadenaser .play {border-width: 3px; height: 61px; width: 61px; margin-top: -3px;}
.player-cadenaser .play .ico span {font-size: 20px; line-height: 61px; height: 61px; width: 61px; margin: -13px 0 0 -13px;}
.player .play .ico .icon-play {padding-left: 5px; width: 56px;}
.player-cadenaser .control .label {position: absolute; font-size: 12px; right: -91px; top: -12px;}
.player-cadenaser .ico_sonido {top: -21px; left: 0;}
.player-cadenaser .control .volume {position: absolute; bottom: -9px; left: 80px; z-index: 4; float: none; margin-left: 0;}
.player-cadenaser .info {padding-top: 16px;}
.player-cadenaser .info .titulo span {font-size: 12px;}
.player-cadenaser .info .emisora {top: 0;}
.player-cadenaser .info .programa {padding: 0; top: 8px;}
.player-cadenaser.a-la-carta .track-wrapper {margin-left: 110px;}

/* compartires */

.player-cadenaser .share {padding-top: 15px;}
.player-cadenaser .share .redes .prim {display: none;}
.player-cadenaser .share .redes-active .prim {display: block; float: left; width: 40px;}
.player-cadenaser .share .redes-active .prim button {background: #4dc5ad;}

/* capas desplegables */

.player-cadenaser .info .form-mail,
.player-cadenaser .info .embed,
.player-cadenaser .info .conf-emisora {background-color: #4dc5ad; top: 0; bottom: auto; padding-right: 41px; height: 90px;}
.player-cadenaser .info .form-mail .form-mail-inner {margin-right: -37px; padding-right: 0; padding-left: 5px;}
.player-cadenaser .info .embed .inner-embed,
.player-cadenaser .info .conf-emisora .inner-conf {margin-right: -41px; padding: 0;}
.player-cadenaser .info .conf-emisora {top: auto; bottom: -11px; height: 92px;}
.player-cadenaser .form-mail .txt,
.player-cadenaser .info .label  {display: none;}
.player-cadenaser .info .select {width: auto; float: none; height: 28px; border-bottom: 1px solid #14181b; border-right: 0; }
.player-cadenaser .info .inner-conf .select,
.player-cadenaser .info .inner-conf .select + .select {width: 100%;}
.player-cadenaser .info .inner-conf .select select,
.player-cadenaser .info .inner-conf .select + .select select {width: 129%;}
.player-cadenaser .info .control-conf {position: relative; padding-left:5px; width: auto; display: block; overflow: hidden;}
.player-cadenaser .info .control-conf .btn-secundary  {float: left; margin-top: 5px;}
.player-cadenaser .info .form-mail .action {left: 5px; top: auto; bottom: 3px;}
.player-cadenaser .info .form-mail .close {bottom: 0; top: auto}
.player-cadenaser .info .control-conf .close {top: 4px;}
.player-cadenaser .info .embed .control-conf {width: auto;}
.player-cadenaser .info .embed .code {border-bottom: 1px solid #000; float: none; width: 100%; line-height: 12px;}
.player-cadenaser .info .embed .inner-embed .control-conf .btn-secundary  {margin-top: 3px;}

/* modo en directo */

.player-cadenaser.en-directo .programa {padding-right: 0;}
.player-cadenaser.en-directo .info .titulo {margin-right: 0;}
.player-cadenaser.en-directo .emisora {padding: 0 0 0 100px;}
.player-cadenaser.en-directo .emisora .nombre {border-width: 4px 0; background: transparent; border-color: transparent;}
.player-cadenaser.en-directo .emisora .conf {padding: 0; line-height: 12px; width: 23px; background-color: transparent; border-color: #f4f4f4; border-width: 4px 0;}
.player-cadenaser.en-directo .emisora .conf span {display: none;}
.player-cadenaser.en-directo .emisora .conf span[class*="icon"] {display: inline; color: #4dc5ad;}
