
/* PLAYER tablet en playser - reescritura de player-desktop.css ====================================================================================================================== */

.no-desktop {display: block !important;}
.no-tablet {display: none !important;}

.player {width: 100%;}
.player .share .redes .prim {display: none;}
.player .share .redes-active .prim {display: block; float: left; width: 40px;}
.player .share .redes-active .prim button {background-color: #4dc5ad; color: #000}
.player .info .conf-emisora .inner-conf {padding-right: 110px;}
.player .info .control-conf {width: 106px;}
.player .info .control-conf .btn-secundary  { padding: 0 8px; }
.player .info .embed .inner-embed {padding-right: 125px;}
.player .info .embed .control-conf {width: 145px;}
.player .info .inner-conf .select {width: 60%;}
.player .info .inner-conf .select + .select{width: 40%;}
.player .info .inner-conf .select + .select select {width: 120%;}
.player .info .programa {padding-right: 0;}
.player.a-la-carta .programa {padding-right: 0;}
.player .info .form-mail .txt {display: none;}
.player .info .form-mail .form-mail-inner {padding-left: 5px; }

.player-embebido.player-touch .info .emisora {padding-left: 0;}
.player-embebido.player-touch .barra {width: 1px;}
.player-embebido.player-touch .inverso {left: 0;}
