@font-face {
    font-family: 'proxima_nova';
    src: url('/psdmedia/media/top/skins/playser_det/assets/fonts/mark_simonson_-_proxima_nova_regular-webfont.eot');
    src: url('/psdmedia/media/top/skins/playser_det/assets/fonts/mark_simonson_-_proxima_nova_regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/psdmedia/media/top/skins/playser_det/assets/fonts/mark_simonson_-_proxima_nova_regular-webfont.woff') format('woff'),
    url('/psdmedia/media/top/skins/playser_det/assets/fonts/mark_simonson_-_proxima_nova_regular-webfont.ttf') format('truetype'),
    url('/psdmedia/media/top/skins/playser_det/assets/fonts/mark_simonson_-_proxima_nova_regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: 400;
    font-style: normal;

}

.playerDetallePS {
    /*float: left;*/
    position: relative;
    height: 100%;
    width: 100%;
    --overflow: hidden;
    font: 12px/22px proxima_nova, Helvetica, Helvetica Neue, ArialR;
}

@font-face {
    font-family: 'proxima_nova';
    src: url('/psdmedia/media/top/skins/playser_det/assets/fonts/mark_simonson_-_proxima_nova_semibold-webfont.eot');
    src: url('/psdmedia/media/top/skins/playser_det/assets/fonts/mark_simonson_-_proxima_nova_semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/psdmedia/media/top/skins/playser_det/assets/fonts/mark_simonson_-_proxima_nova_semibold-webfont.woff') format('woff'),
    url('/psdmedia/media/top/skins/playser_det/assets/fonts/mark_simonson_-_proxima_nova_semibold-webfont.ttf') format('truetype'),
    url('/psdmedia/media/top/skins/playser_det/assets/fonts/mark_simonson_-_proxima_nova_semibold-webfont.svg#proxima_nova_ltsemibold') format('svg');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_bold';
    src: url('/psdmedia/media/top/skins/playser_det/assets/fonts/mark_simonson_-_proxima_nova_bold-webfont.eot');
    src: url('/psdmedia/media/top/skins/playser_det/assets/fonts/mark_simonson_-_proxima_nova_bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/psdmedia/media/top/skins/playser_det/assets/fonts/mark_simonson_-_proxima_nova_bold-webfont.woff') format('woff'),
    url('/psdmedia/media/top/skins/playser_det/assets/fonts/mark_simonson_-_proxima_nova_bold-webfont.ttf') format('truetype'),
    url('/psdmedia/media/top/skins/playser_det/assets/fonts/mark_simonson_-_proxima_nova_bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

.playerDetallePS .awTexto .redondeado
{
    border:1px solid #c0c0c0;
    behavior: url("border-radius.htc"); /* ie 6,7,8 */
    -moz-border-radius: 20px; /* Firefox */
    -webkit-border-radius: 20px; /* Safari y Chrome */
    -khtml-border-radius: 20px; /* Konkeror, ... */
    border-radius: 20px; /* Opera 10.50, IE y CSS3 */
}

.playerDetallePS{
    float:left;
    --min-width:350px;
    width:50%;
    height:200px;
    position:relative;
}
.playerDetallePSAnchoCompleto{
    width:100% !important;
	background: white;
}
.playerDetallePS .awplaylogo{
    float:left;
}
.playerDetallePS .awplaylogo2{
    position:relative;
    width:100px;
    height:calc(100% - 2px);
    background-color:#ffffff;
    border-left: 1px solid #c0c0c0;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
}
.playerDetallePS .awplaylogo2 img{
    padding:15px;
}
.playerDetallePS .awTexto{
    position:relative;
    float:left;
    width:60%;
    width: -webkit-calc(100% - 214px);
    width: -moz-calc(100% - 214px);
    width: calc(100% - 214px);
    border: 1px solid #c0c0c0;
    height: calc(100% - 2px);
    background-color:#ffffff;
    overflow:hidden;
}
.playerDetallePS .awTexto2 {
    border-left: 0;
    width:70% !important;
    width: -webkit-calc(100% - 102px) !important;
    width: -moz-calc(100% - 102px) !important;
    width: calc(100% - 102px) !important;
}
.playerDetallePS .awcompleto{
    width:100%;
}

.playerDetallePS .awTexto .awhashtag{
    padding-top:10px;
    padding-left:10px;
    float:left;
    color:#fdbe00;
    font-weight: bold;
}
.playerDetallePS .awTexto .awtipo{
    padding-top:10px;
    padding-left:10px;
    float:left;
    font-weight: bold;
    color: #000000;
}
.playerDetallePS .awTexto .awtitulo{
    --padding-top:25px;
    padding-left:20px;
	padding-right:10px;
    clear:both;
    float:left;
    font-size: 180%;
    max-height: 68px;
    overflow: hidden;
    color: #000000;
}
.playerDetallePS .awTexto .awpie{
    padding-top:10px;
    padding-left:10px;
    clear:both;
    float:left;
    font-size:80%;
    color: #000000;
}
.playerDetallePS .awTexto .awmenu{
    position:absolute;
    top: 5px;
    left: 80%;
    left: -webkit-calc(100% - 45px);
    left: -moz-calc(100% - 45px);
    left: calc(100% - 45px);
    height:20px;
}
.playerDetallePS .awTexto .awmenu a{
    position:relative;
    top:-3px;
}
.playerDetallePS .awTexto .awmenu .awmenuSep{
    width:1px;
    margin:0;
    padding:0;
    height:100%;
    background-color:#c0c0c0;
    display:inline-block;
    position: absolute;
}
.playerDetallePS .awplay, .playerDetallePS .awplay2, .playerDetallePS .awpause2{
    position:absolute;
    top: 73%;
    left: 10px;
    cursor:pointer;
}
.playerDetallePS .awreproducir, .playerDetallePS .awpause2{

}
.playerDetallePS .awpause{
    position:absolute;
    top: 75%;
    left: 2.4%;
    cursor:pointer;
}

.player47PlayCargando {
    display:inline-block;
    float:left;
    width: 47px;
    height: 47px;
    background-image: url("/psdmedia/media/top/skins/playser_det/assets/img/play47_cargando.png");

    -webkit-animation: play47 3s steps(94) infinite;
    -moz-animation: play47 3s steps(94) infinite;
    -ms-animation: play47 3s steps(94) infinite;
    -o-animation: play47 3s steps(94) infinite;
    animation: play47 3s steps(94) infinite;
}
@-webkit-keyframes play47 {
    from { background-position:    0px; }
    to { background-position: -4418px; }
}
@-moz-keyframes play47 {
    from { background-position:    0px; }
    to { background-position: -4418px; }
}
@-ms-keyframes play47 {
    from { background-position:    0px; }
    to { background-position: -4418px; }
}
@-o-keyframes play47 {
    from { background-position:    0px; }
    to { background-position: -4418px; }
}
@keyframes play47 {
    from { background-position:    0px; }
    to { background-position: -4418px; }
}

.player47PauseCargando {
    display:inline-block;
    float:left;
    width: 47px;
    height: 47px;
    background-image: url("/psdmedia/media/top/skins/playser_det/assets/img/pause47_cargando.png");

    -webkit-animation: play47 3s steps(94) infinite;
    -moz-animation: play47 3s steps(94) infinite;
    -ms-animation: play47 3s steps(94) infinite;
    -o-animation: play47 3s steps(94) infinite;
    animation: play47 3s steps(94) infinite;
}
@-webkit-keyframes play47 {
    from { background-position:    0px; }
    to { background-position: -4418px; }
}
@-moz-keyframes play47 {
    from { background-position:    0px; }
    to { background-position: -4418px; }
}
@-ms-keyframes play47 {
    from { background-position:    0px; }
    to { background-position: -4418px; }
}
@-o-keyframes play47 {
    from { background-position:    0px; }
    to { background-position: -4418px; }
}
@keyframes play47 {
    from { background-position:    0px; }
    to { background-position: -4418px; }
}

.playerDetallePS .awaudio{
    position:absolute;
    top: 70%;
    left: 15%;
    cursor:pointer;
    z-index:8;
}
.playerDetallePS .awaudio2{
    position:absolute;
    top: 70%;
    left: 0%;
    height: 60px;
    width: 100%;
    --background-image: url("img/audio.png");
    background-repeat: repeat-x;
}
.playerDetallePS .alpha50{
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    /* IE 5-7 */
    filter: alpha(opacity=50);
    /* Netscape */
    -moz-opacity: 0.5;
    /* Safari 1.x */
    -khtml-opacity: 0.5;
    /* Good browsers */
    opacity: 0.5;
}
.playerDetallePS .awaudioDifuminado{
    position:absolute;
    width:100%;
    height:30%;
    left:0%;
    top:70%;
    background-color:#ffffff;
    z-index:9;
}
.playerDetallePS .awaudioPosicion{
    position:absolute;
    width: .5%;
    height: 20%;
    top: 80%;
    left: 15%;
    background-color:#fdbe00;
    z-index:10;
}
.playerDetallePS .awreproducir .awplayer{
    position:absolute;
    top:50%;
    height:50%;
    left:80%;
    left: -webkit-calc(100% - 130px);
    left: -moz-calc(100% - 130px);
    left: calc(100% - 130px);
    width:110px;
}
.playerDetallePS .awreproducir .awplayer img{
    padding-left:10px;
    cursor:pointer;
}
.playerDetallePS .awreproducir .awplayer .tiempo{
    display:inline-block;
    float:left;
}
.playerDetallePS .awreproducir .awplayer .volumen, .playerDetallePS .awreproducir .awplayer .menu{
    display:inline-block;
    float:right;
}
.playerDetallePS .awTexto .awreproducir .awplayer .playerVolumen{
    position:absolute;
    top:0%;
    left:55%;
    display:none;
    background-image: url('/psdmedia/media/top/skins/playser_det/assets/img/player/normal/volumen_nivel.png');
    width: 31px;
    height: 96px;
    z-index:11;
}
.playerDetallePS .awTexto .awreproducir .awplayer .playerVolumenMarca{
    position: absolute !important;
    left:5%;
    top:30px;
}
.playerDetallePS .awTexto .awreproducir .awplayer .divPlayerVolumenMarca{
    position:relative;
    top: 25%;
    left:50%;
    width:10%;
    height:50%;
}
.playerDetallePS .playerDiv, .playerDetallePS .playerDiv2{
    position:absolute;
    top: 77%;
    height:30px;
}
.playerDetallePS .playerDiv {
    left:70px;
    width:40%;
    width: -webkit-calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: calc(100% - 90px);
}
.playerDetallePS .playerDiv2 {
    left:100px;
    width:90%;
    width: -webkit-calc(100% - 120px);
    width: -moz-calc(100% - 120px);
    width: calc(100% - 120px);
}

.degradado_final{
	position:absolute;
	right:10px;
	bottom:-3px;
	width:100px;
	height:25px;
	background-image: url("/psdmedia/media/top/skins/playser_det/assets/img/difuminado_det.png");
	--background:red;
}

.div_volumen{
	width:108px;height:25px;position:absolute;right:15px;bottom:50px;
}

.embedmode{
    background-image:url("/psdmedia/media/top/skins/playser_det/assets/img/ser_embed.jpg") !important;
	background-size:auto 100%;
	background-repeat:no-repeat !important;
    background-color:#363636;
	cursor:pointer;
}
