@font-face {
	font-family: 'iconos-playser';
	src:url('../fonts/iconos-playser.eot?gdtc7y');
	src:url('../fonts/iconos-playser.eot?#iefixgdtc7y') format('embedded-opentype'),
		url('../fonts/iconos-playser.ttf?gdtc7y') format('truetype'),
		url('../fonts/iconos-playser.woff?gdtc7y') format('woff'),
		url('../fonts/iconos-playser.svg?gdtc7y#iconos-playser') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'iconos-playser';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-logo-ser:before {
	content: "\e623";
}
.icon-flecha-right-narrow:before {
	content: "\e61e";
}
.icon-flecha-left-narrow:before {
	content: "\e61f";
}
.icon-flecha-up-narrow:before {
	content: "\e620";
}
.icon-flecha-down-narrow:before {
	content: "\e621";
}
.icon-flecha-right-bold:before {
	content: "\e625";
}
.icon-ok:before {
	content: "\e624";
}
.icon-tres-puntos:before {
	content: "\e61d";
}
.icon-menu:before {
	content: "\e61a";
}
.icon-text:before {
	content: "\e61b";
}
.icon-calendario:before {
	content: "\e618";
}
.icon-share:before {
	content: "\e619";
}
.icon-embed:before {
	content: "\e611";
}
.icon-user:before {
	content: "\e601";
}
.icon-lupa:before {
	content: "\e600";
}
.icon-itunes:before {
	content: "\e603";
}
.icon-feedly:before {
	content: "\e61c";
}
.icon-rss:before {
	content: "\e604";
}
.icon-linkedin:before {
	content: "\e605";
}
.icon-mail:before {
	content: "\e602";
}
.icon-whatsapp:before {
	content: "\e606";
}
.icon-instagram:before {
	content: "\e607";
}
.icon-youtube:before {
	content: "\e608";
}
.icon-google-plus:before {
	content: "\e609";
}
.icon-twitter:before {
	content: "\e60a";
}
.icon-facebook:before {
	content: "\e60b";
}
.icon-mas:before {
	content: "\e626";
}
.icon-cerrar:before {
	content: "\e60c";
}
.icon-flecha-dch:before {
	content: "\e60d";
}
.icon-flecha-izq:before {
	content: "\e60e";
}
.icon-flecha-up:before {
	content: "\e60f";
}
.icon-flecha-down:before {
	content: "\e610";
}
.icon-emisora:before {
	content: "\e612";
}
.icon-volumen-on:before {
	content: "\e613";
}
.icon-volumen-off:before {
	content: "\e614";
}
.icon-equalizer:before {
	content: "\e615";
}
.icon-hablar:before {
	content: "\e622";
}
.icon-play:before {
	content: "\e616";
}
.icon-pause:before {
	content: "\e617";
}
.icon-video:before {
	content: "\e627";
}
