
@font-face {
    font-family: 'OpenSans';
    src: url('/psdmedia/media/top/skins/meristation/assets/fonts/open_sans_regular.eot');
    src: url('/psdmedia/media/top/skins/meristation/assets/fonts/open_sans_regular.eot?#iefix') format('embedded-opentype'),
         url('/psdmedia/media/top/skins/meristation/assets/fonts/open_sans_regular.svg') format('svg'),
         url('/psdmedia/media/top/skins/meristation/assets/fonts/open_sans_regular.woff') format('woff'),
         url('/psdmedia/media/top/skins/meristation/assets/fonts/open_sans_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}
@font-face {
    font-family: 'OpenSans';
    src: url('/psdmedia/media/top/skins/meristation/assets/fonts/open_sans_bold.eot');
    src: url('/psdmedia/media/top/skins/meristation/assets/fonts/open_sans_bold.eot?#iefix') format('embedded-opentype'),
         url('/psdmedia/media/top/skins/meristation/assets/fonts/open_sans_bold.svg') format('svg'),
         url('/psdmedia/media/top/skins/meristation/assets/fonts/open_sans_bold.woff') format('woff'),
         url('/psdmedia/media/top/skins/meristation/assets/fonts/open_sans_bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}
@font-face {
    font-family: 'OpenSans';
    src: url('/psdmedia/media/top/skins/meristation/assets/fonts/open_sans_bold_italic.eot');
    src: url('/psdmedia/media/top/skins/meristation/assets/fonts/open_sans_bold_italic.eot?#iefix') format('embedded-opentype'),
         url('/psdmedia/media/top/skins/meristation/assets/fonts/open_sans_bold_italic.svg') format('svg'),
         url('/psdmedia/media/top/skins/meristation/assets/fonts/open_sans_bold_italic.woff') format('woff'),
         url('/psdmedia/media/top/skins/meristation/assets/fonts/open_sans_bold_italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    -webkit-font-smoothing: antialiased;
}

.playerMRSTN_envoltorio {position: relative; height: 100%; font-family: 'OpenSans', Arial, Helvetica, sans-serif; overflow: hidden; -moz-user-select: -moz-none; -webkit-user-select: none; -o-user-select: none; user-select: none;}
.playerMRSTN_envoltorio video {width: 100%; display: block;}
.playerMRSTN_envoltorio a {text-decoration: none; outline: 0;}
.playerMRSTN_envoltorio a img {border: none;}
.playerMRSTN_indent {text-indent: -9999px; white-space: nowrap; overflow: hidden; display: block;}
.playerMRSTN_visible {display: block!important; visibility: visible!important;}
.playerMRSTN_oculto {display: none!important;}
.playerMRSTN_estirar:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0;}


/* CAPAS ------------------------------------------------------------------------------------------------------------------- */


/* DATOS VIDEO ------------------------------------------------------------------------------------------------------------------- */

.playerMRSTN_datos_video {position: absolute; z-index: 1; top: 0; left: 0; width: 100%; height: 100%;}

/* boton play grande */

a.playerMRSTN_play_grande {position: absolute; z-index: 2; top: 50%; left: 50%; width: 71px; height: 71px; margin: -35px 0 0 -35px; background: rgba(0, 0, 0, 0.7) url(/psdmedia/media/top/skins/meristation/assets/img/spt_iconos.svg) no-repeat center 25px/37px auto; border: 1px solid #000; display: none;}
a.playerMRSTN_play_grande:hover {background-color: #f19401; background-position: center -531px;}

/* cargando */

.playerMRSTN_contenedor_cargando, 
.playerMRSTN_interior_cargando {border-radius: 50%;}
.playerMRSTN_contenedor_cargando {position: absolute; z-index: 2; top: 50%; left: 50%; width: 24px; height: 24px; padding: 10px; margin: -20px 0 0 -20px; background-color: #444; background-color: rgba( 0, 0, 0, .5 ); -webkit-box-shadow: 0 0 40px rgba( 0, 0, 0, .75 ); box-shadow: 0 0 40px rgba( 0, 0, 0, .75 ); display: none;}
.playerMRSTN_interior_cargando {width: 24px; height: 24px; background-color: #ffa000; -webkit-animation: interior_cargando .5s ease infinite; animation: interior_cargando .5s ease infinite;}
@-webkit-keyframes interior_cargando { from {opacity: .5; -webkit-transform: scale( .75 );} 50% {opacity: 1; -webkit-transform: scale( 1 );} to { opacity: .5; -webkit-transform: scale( .75 ); }}
@keyframes interior_cargando { from {opacity: .5; transform: scale( .75 );} 50% {opacity: 1; transform: scale( 1 );} to { opacity: .5; transform: scale( .75 ); }}

/* datos */

.playerMRSTN_datos_video .playerMRSTN_modulo_datos {background-color: rgba(0,0,0,0.62);}
.playerMRSTN_datos_video .playerMRSTN_titulo {float: left; font-size: 13px; line-height: 34px; color: #fff; padding-left: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 80%; box-sizing: border-box;}
.playerMRSTN_datos_video .playerMRSTN_duracion {float: right; font-size: 12px; line-height: 35px; color: #f19401; padding: 0 15px; background-color: #000; height: 35px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 20%; box-sizing: border-box;}


/* contenedores comunes para capas compartir y relacionados */

.playerMRSTN_posicionador {position: absolute; z-index: 2; left: 0; top: 0; width: 100%; height: 100%; overflow: hidden; display: none;}
.playerMRSTN_centrador {height: 100%;}

/* CAPA COMPARTIR ------------------------------------------------------------------------------------------------------------------- */

a.playerMRSTN_cerrar {position: absolute; z-index: 3; right: 0; top: 0; margin: 3% 3% 0 0; display: block; width: 20px; height: 20px; font-size: 24px; line-height: 17px; color: #a4a4a4;}
a.playerMRSTN_cerrar:hover {color: #f19401;}
.playerMRSTN_c_compartir .playerMRSTN_capa {position: relative; width: 80%; height: auto; margin: 10% auto; box-sizing: border-box; padding: 9% 10%; background-color: rgba(0, 0, 0, 0.8);}
.playerMRSTN_c_compartir .playerMRSTN_rotulo {font-size: 18px; line-height: 22px; margin-bottom: 4%; color: #a4a4a4; text-align: center;}
.playerMRSTN_c_compartir .playerMRSTN_nombre_video {font-size: 13px; line-height: 15px; margin-bottom: 4%; color: #f19401; text-align: center;}
.playerMRSTN_c_compartir .playerMRSTN_enlaces_redes {width: 136px; margin: 0 auto;}
.playerMRSTN_c_compartir a.playerMRSTN_red {float: left; display: block; width: 58px; height: 58px; margin: 0 5px; background-image: url(/psdmedia/media/top/skins/meristation/assets/img/spt_redes.svg); background-repeat: no-repeat; transition: background-color 0.2s ease-out;}
.playerMRSTN_c_compartir a.playerMRSTN_red:hover {background-color: #f19401;}
.playerMRSTN_c_compartir a.playerMRSTN_twitter {background-position: 0 0; background-color: #598dca;}
.playerMRSTN_c_compartir a.playerMRSTN_facebook {background-position: -60px 0; background-color: #3a589b;}

/* CAPA VIDEOS RELACIONADOS ------------------------------------------------------------------------------------------------------------------- */

.playerMRSTN_c_relacionados .playerMRSTN_centrador {background-color: rgba(0, 0, 0, 0.8);}
.playerMRSTN_c_relacionados .playerMRSTN_capa {width: 100%; box-sizing: border-box; padding: 1%;}
.playerMRSTN_c_relacionados .playerMRSTN_rotulo {font-size: 16px; line-height: 20px; color: #a4a4a4; text-align: center;}
.playerMRSTN_c_relacionados .playerMRSTN_enlaces_videos {display: table; width: 100%;}
.playerMRSTN_c_relacionados a.playerMRSTN_video {float: left; width: 31.3%; padding: 1% 1% 0; text-align: center;}
.playerMRSTN_c_relacionados .playerMRSTN_foto {position: relative; width: 100%; background-color: #111;}
.playerMRSTN_c_relacionados .playerMRSTN_foto_interior {position: absolute; top: 0; bottom: 0; left: 0; right: 0; text-align: center; font-size: 0; line-height: 0;}
.playerMRSTN_c_relacionados .playerMRSTN_foto_interior:before {content: ' '; display: inline-block; vertical-align: middle; height: 100%;}
.playerMRSTN_c_relacionados .playerMRSTN_foto_interior img {display: inline-block; width: 100%; height: auto; vertical-align: middle;}
.playerMRSTN_c_relacionados .playerMRSTN_formato {padding-top: 73%;}
.playerMRSTN_c_relacionados .playerMRSTN_foto .playerMRSTN_boton_play {position: absolute; z-index: 1; top: 50%; left: 50%; display: block; width: 33px; height: 33px; margin: -17px 0 0 -17px; background: rgba(0, 0, 0, 0.7) url(/psdmedia/media/top/skins/meristation/assets/img/spt_iconos.svg) no-repeat center 9px/27px auto; border: 1px solid #000;}
.playerMRSTN_c_relacionados a.playerMRSTN_video .playerMRSTN_titulo {font-size: 13px; line-height: 17px; margin: 2% 0 0; max-height: 37px; color: #f19401; overflow: hidden; text-overflow: ellipsis;}
.playerMRSTN_c_relacionados a.playerMRSTN_video:hover img {opacity: 0.8;}
.playerMRSTN_c_relacionados a.playerMRSTN_video:hover .playerMRSTN_titulo {color: #fff;}
.playerMRSTN_c_relacionados a.playerMRSTN_video:hover .playerMRSTN_boton_play {background-color: rgba(255, 255, 255, 0.3); border-color: transparent;}




/* BARRA CONTROLES INFERIOR ------------------------------------------------------------------------------------------------------------------- */

.playerMRSTN_barra_inferior {position: absolute; bottom: 0; background-color: #000; width: 100%; height: 35px; opacity: 1;}
.playerMRSTN_barra_inferior .playerMRSTN_controles_izquierda {width: 100px; float: left;}
.playerMRSTN_barra_inferior .playerMRSTN_controles_derecha {width: 173px; float: right;}

.playerMRSTN_boton {float: left;width: 50px;}
.playerMRSTN_boton a {display: block; background-image: url(/psdmedia/media/top/skins/meristation/assets/img/spt_iconos.svg); background-repeat: no-repeat;}
.playerMRSTN_boton a:hover {background-color: #1b1b1b;}
.playerMRSTN_boton,
.playerMRSTN_boton a {height: 35px;}

/* barra inferior IZQUIERDA ------------------------------------------------------------------------------------------------------------------- */

/* boton play / pausa / recargar */

.playerMRSTN_play,
.playerMRSTN_pausa,
.playerMRSTN_recargar {display: none; height: 35px; background-image: url(/psdmedia/media/top/skins/meristation/assets/img/spt_iconos.svg); background-repeat: no-repeat; cursor: pointer;}
.playerMRSTN_play {background-position: center 8px;}
.playerMRSTN_pausa {background-position: center -52px;}
.playerMRSTN_recargar {background-position: center -459px;}
.playerMRSTN_play:hover,
.playerMRSTN_pausa:hover,
.playerMRSTN_recargar:hover {background-color: #1b1b1b;}

/* boton volumen */

.playerMRSTN_volumen {position: relative; z-index: 20;}
.playerMRSTN_apagado a {background-position: center -110px;}
.playerMRSTN_bajo a {background-position: center -168px;}
.playerMRSTN_alto a {background-position: center -226px;}
.playerMRSTN_volumen .playerMRSTN_capa_volumen {display: none;}
.playerMRSTN_volumen:hover .playerMRSTN_capa_volumen {display: block; cursor: pointer;}

/* capa volumen */

.playerMRSTN_volumen .playerMRSTN_capa_volumen {position: absolute; z-index: 21; bottom: 0; left: -1px; background-color: #1b1b1b; border: 1px solid #000; height: 118px; width: 52px; box-sizing: border-box;}
.playerMRSTN_capa_volumen .playerMRSTN_nivel_volumen {position: relative; z-index: 22; background-color: #000; margin: 12px 14px 0; height: 118px; width: 22px;}
.playerMRSTN_capa_volumen .playerMRSTN_nivel_volumen,
.playerMRSTN_capa_volumen .playerMRSTN_mascara_volumen{height: 70px;}
.playerMRSTN_capa_volumen .playerMRSTN_progreso_volumen,
.playerMRSTN_capa_volumen .playerMRSTN_mascara_volumen {position: absolute; bottom: 0; left: 0; width: 100%;}
.playerMRSTN_capa_volumen .playerMRSTN_progreso_volumen {z-index: 23; background-color: #f19401;}
.playerMRSTN_nivel_volumen:hover .playerMRSTN_progreso_volumen {background-color: #faab01;}
.playerMRSTN_capa_volumen .playerMRSTN_mascara_volumen {z-index: 24; background: transparent url(/psdmedia/media/top/skins/meristation/assets/img/mascara_volumen.svg) no-repeat bottom center;}

/* barra inferior DERECHA ------------------------------------------------------------------------------------------------------------------- */

.playerMRSTN_controles_derecha .playerMRSTN_boton {float: right;}

/* boton compartir */

.playerMRSTN_compartir a {background-position: center -282px;}

/* boton seleccionar calidad */

.playerMRSTN_calidad {position: relative; width: 70px;}
.playerMRSTN_calidad a {position: absolute; z-index: 3; width: 100%; background-image: none; text-align: center; font-style: italic; font-size: 13px; color: #f19401;}
.playerMRSTN_calidad a:hover {color: #faab01;}
.playerMRSTN_boton a span {display: inline-block; vertical-align: middle;}
.playerMRSTN_calidad a .playerMRSTN_icono {width: 20px; height: 35px; margin-right: 2px; background: transparent url(/psdmedia/media/top/skins/meristation/assets/img/spt_iconos.svg) no-repeat -8px -339px;}
.playerMRSTN_boton a .playerMRSTN_literal {line-height: 36px; max-width: 48px; overflow: hidden;}

/* capa seleccionar calidad */

.playerMRSTN_calidad .playerMRSTN_capa_calidad {position: absolute; z-index: 2; bottom: 0; left: -1px; background-color: #1b1b1b; border: 1px solid #000; width: 72px; padding: 5px 0 34px; box-sizing: border-box; display: none;}
.playerMRSTN_capa_calidad a {position: static; padding: 0; margin: 0; height: auto; line-height: 25px; color: #fff;}
.playerMRSTN_capa_calidad a:hover,
.playerMRSTN_capa_calidad a.playerMRSTN_seleccionado {color: #f19401;}
.playerMRSTN_capa_calidad a.playerMRSTN_seleccionado:hover {color: #faab01;}
.playerMRSTN_calidad:hover .playerMRSTN_capa_calidad {display: block; cursor: pointer;}


/* boton fullscreen */


.playerMRSTN_fullscreen {float: right;}
.playerMRSTN_fullscreen a {background-position: center -398px;}


/* BARRA PROGRESO ------------------------------------------------------------------------------------------------------------------- */

.playerMRSTN_contenedor_video {position: relative; height: calc(100% - 35px);}
.playerMRSTN_contenedor_progreso,
.playerMRSTN_contenedor_progreso .playerMRSTN_base,
.playerMRSTN_contenedor_progreso .playerMRSTN_cargado,
.playerMRSTN_contenedor_progreso .playerMRSTN_reproducido,
.playerMRSTN_contenedor_progreso .playerMRSTN_tiempo_actual,
.playerMRSTN_contenedor_progreso .playerMRSTN_tiempo_total,
.playerMRSTN_contenedor_progreso .playerMRSTN_contenedor_manejador,
.playerMRSTN_contenedor_progreso .playerMRSTN_manejador,
.playerMRSTN_contenedor_progreso .playerMRSTN_manejador span {position: absolute;}
.playerMRSTN_contenedor_progreso {left: 0; top: -25px;}
.playerMRSTN_contenedor_progreso .playerMRSTN_base,
.playerMRSTN_contenedor_progreso .playerMRSTN_cargado,
.playerMRSTN_contenedor_progreso .playerMRSTN_reproducido,
.playerMRSTN_contenedor_progreso .playerMRSTN_tiempo_actual {left: 0; bottom: 0;}
.playerMRSTN_contenedor_progreso .playerMRSTN_base,
.playerMRSTN_contenedor_progreso .playerMRSTN_cargado,
.playerMRSTN_contenedor_progreso .playerMRSTN_reproducido,
.playerMRSTN_contenedor_progreso .playerMRSTN_tiempo_actual,
.playerMRSTN_contenedor_progreso .playerMRSTN_tiempo_total {height: 2px;}
.playerMRSTN_contenedor_progreso .playerMRSTN_base,
.playerMRSTN_contenedor_progreso .playerMRSTN_reproducido,
.playerMRSTN_contenedor_progreso .playerMRSTN_manejador,
.playerMRSTN_contenedor_progreso .playerMRSTN_manejador span {transition: all 0.5s ease-out;}
.playerMRSTN_contenedor_progreso .playerMRSTN_cargado,
.playerMRSTN_contenedor_progreso .playerMRSTN_tiempo_actual,
.playerMRSTN_contenedor_progreso .playerMRSTN_tiempo_total {transition: height 0.5s ease-out;}
.playerMRSTN_contenedor_progreso {z-index: 1; height: 25px; width: 100%; cursor: pointer;}
.playerMRSTN_contenedor_progreso .playerMRSTN_base {z-index: 2; background-color: transparent; width: 100%}
.playerMRSTN_contenedor_progreso .playerMRSTN_cargado {z-index: 3; background-color: #3a3a3a;}
.playerMRSTN_contenedor_progreso .playerMRSTN_reproducido {z-index: 4; background-color: #f19401;}
.playerMRSTN_contenedor_progreso .playerMRSTN_reproducido:hover {background-color: #faab01;}
.playerMRSTN_contenedor_progreso .playerMRSTN_tiempo_actual {z-index: 5; padding: 0 16px; font-size: 12px; line-height: 25px; color: #1b1b1b; overflow: hidden;}
.playerMRSTN_contenedor_progreso .playerMRSTN_tiempo_total {z-index: 5; right: 0; bottom: 0; padding: 0 8px; font-size: 12px; line-height: 25px; color: #f19401; overflow: hidden;}
.playerMRSTN_contenedor_progreso .playerMRSTN_manejador {z-index: 6; bottom: 1px; width: 0; height: 0; background-color: #fff; border-radius: 100%; box-shadow: 2px 2px 3px #222;}
.playerMRSTN_contenedor_progreso .playerMRSTN_manejador span {z-index: 7; top: 0; left: 0; width: 0; height: 0; background-color: #f19401; border-radius: 100%;}
.playerMRSTN_contenedor_progreso .playerMRSTN_manejador:hover span {background-color: #1b1b1b;}
.playerMRSTN_envoltorio:hover .playerMRSTN_base,
.playerMRSTN_envoltorio:hover .playerMRSTN_cargado,
.playerMRSTN_envoltorio:hover .playerMRSTN_reproducido,
.playerMRSTN_envoltorio:hover .playerMRSTN_tiempo_actual,
.playerMRSTN_envoltorio:hover .playerMRSTN_tiempo_total {height: 25px;}
.playerMRSTN_envoltorio:hover .playerMRSTN_manejador {bottom: -1px; width: 27px; height: 27px; margin-left: -14px;}
.playerMRSTN_envoltorio:hover .playerMRSTN_manejador span {top: 8px; left: 8px; width: 11px; height: 11px;}
.playerMRSTN_envoltorio:hover .playerMRSTN_base {background-color: #1b1b1b;}

/* thumbnails */

.playerMRSTN_thumbnails {position: absolute; z-index: 6; left: 0;  bottom: 34px; margin-left: -53px; display: none;}
.playerMRSTN_contenedor_progreso:hover .playerMRSTN_thumbnails {display: block;}
.playerMRSTN_thumbnails  .playerMRSTN_foto {background-repeat: no-repeat; background-color: rgba(0,0,0,.5); border: 2px solid #000;}
.playerMRSTN_thumbnails  .playerMRSTN_foto span {display: block; background-repeat: no-repeat;}
.playerMRSTN_tiempo {position: absolute; z-index: 7; bottom: 6px; width: 100%; height: 16px; text-align: center;}
.playerMRSTN_tiempo .playerMRSTN_numero {display: inline-block; height: 16px; font-size: 11px; line-height: 16px; padding: 0 6px; background-color: #000; color: #f19401;}
.playerMRSTN_tiempo .playerMRSTN_pico {position: absolute; left: 0; bottom: -4px; width: 60%; height: 0; line-height: 0;}
.playerMRSTN_tiempo .playerMRSTN_pico:after {position: absolute; right: 0; width: 0; height: 0; border-style: solid; border-width: 7px 9px 0; border-color: transparent; border-top-color: #000; content: "";}


/* MODIFICADORES ESTADO PLAYER ----------------------------------------------------------------------------------------------------------- */

/* no iniciado */

.playerMRSTN_estado_off_1 .playerMRSTN_contenedor_progreso,
.playerMRSTN_estado_off_1 .playerMRSTN_datos_video a.playerMRSTN_play_grande {display: none;}
.playerMRSTN_estado_off_1 a.playerMRSTN_play_grande,
.playerMRSTN_estado_off_1 .playerMRSTN_play {display: block;}

/* no iniciado alternativo */

.playerMRSTN_estado_off_2 .playerMRSTN_contenedor_progreso,
.playerMRSTN_estado_off_2 .playerMRSTN_barra_inferior {display: none;}
.playerMRSTN_estado_off_2 .playerMRSTN_datos_video {top: auto; bottom: 7%; left: 4%; max-width: 50%; height: 71px; border: 1px solid #000; background-color: rgba(0,0,0,0.62); overflow: hidden;}
.playerMRSTN_estado_off_2 .playerMRSTN_datos_video .playerMRSTN_modulo_play {display: table-cell;}
.playerMRSTN_estado_off_2 .playerMRSTN_datos_video a.playerMRSTN_play_grande {visibility: hidden; display: block; position: static; background-color: transparent; margin: 0 10px 0 0; border: 0;}
.playerMRSTN_estado_off_2 .playerMRSTN_contenedor_cargando {position: static; left: 13px; top: 13px; margin: 13px 24px 14px 13px;}
.playerMRSTN_estado_off_2 .playerMRSTN_datos_video .playerMRSTN_modulo_datos {display: table-cell; vertical-align: middle; width: 100%; background-color: transparent;}
.playerMRSTN_estado_off_2 .playerMRSTN_datos_video .playerMRSTN_titulo,
.playerMRSTN_estado_off_2 .playerMRSTN_datos_video .playerMRSTN_duracion {float: none; max-width: none; max-height: 37px; line-height: 17px; background-color: transparent; white-space: normal; text-overflow: clip;}
.playerMRSTN_estado_off_2 .playerMRSTN_datos_video .playerMRSTN_titulo {padding: 0; font-size: 13px; color: #a0a0a0;}
.playerMRSTN_estado_off_2 .playerMRSTN_datos_video .playerMRSTN_duracion {padding: 0.5% 0 0; height: auto;}
.playerMRSTN_estado_off_2 .playerMRSTN_contenedor_video:hover {cursor: pointer;}
.playerMRSTN_estado_off_2 .playerMRSTN_contenedor_video:hover .playerMRSTN_datos_video a.playerMRSTN_play_grande {background-color: #f19401; background-position: center -531px; cursor: pointer;}
.playerMRSTN_estado_off_2 .playerMRSTN_contenedor_video:hover .playerMRSTN_datos_video {background-color: rgba(0,0,0,0.9);}

/* reproduciendo */

.playerMRSTN_estado_on .playerMRSTN_datos_video {display: none;}
.playerMRSTN_estado_on .playerMRSTN_pausa {display: block;}
.playerMRSTN_estado_on .playerMRSTN_controles {opacity: 0.2; transition: opacity 1.5s ease-in 1.5s;}
.playerMRSTN_estado_on:hover .playerMRSTN_controles {opacity: 1; transition-duration: 0.1s; transition-delay: 0s;}

/* pausado */

.playerMRSTN_estado_pausado a.playerMRSTN_play_grande,
.playerMRSTN_estado_pausado .playerMRSTN_play {display: block;}
.playerMRSTN_estado_pausado .playerMRSTN_datos_video a.playerMRSTN_play_grande {display: none;}

/* cargando video */

.playerMRSTN_estado_cargando .playerMRSTN_contenedor_cargando {display: block;}
.playerMRSTN_estado_cargando .playerMRSTN_play_grande {display: none!important;}

/* cargando calidad */

.playerMRSTN_cargando_calidad .playerMRSTN_calidad a .playerMRSTN_icono {-webkit-animation: girarueda 2s linear 3s; animation: girarueda 2s linear 3s;}
@keyframes girarueda { from {transform: rotate(0deg);} to {transform: rotate(360deg);}}
@-webkit-keyframes girarueda { from {transform: rotate(0deg);} to {transform: rotate(360deg);}}

/* compartiendo */

.playerMRSTN_estado_compartiendo .playerMRSTN_c_compartir,
.playerMRSTN_estado_compartiendo .playerMRSTN_play {display: block;}
.playerMRSTN_estado_compartiendo .playerMRSTN_controles {opacity: 0.2;}

.playerMRSTN_estado_compartiendo .playerMRSTN_volumen:hover .playerMRSTN_capa_volumen,
.playerMRSTN_estado_compartiendo .playerMRSTN_calidad:hover .playerMRSTN_capa_calidad,
.playerMRSTN_estado_compartiendo .playerMRSTN_contenedor_progreso,
.playerMRSTN_estado_compartiendo .playerMRSTN_datos_video{display: none;}

/* finalizado */

.playerMRSTN_estado_fin .playerMRSTN_contenedor_video {overflow: hidden /* para la capa de videos relacionados */;}
.playerMRSTN_estado_fin .playerMRSTN_c_relacionados,
.playerMRSTN_estado_fin .playerMRSTN_recargar {display: block;}
.playerMRSTN_estado_fin .playerMRSTN_contenedor_progreso,
.playerMRSTN_estado_fin .playerMRSTN_datos_video {display: none;}

/* MODIFICADORES PARA ELIMINAR CONTROLES ----------------------------------------------------------------------------------------------------------- */

.playerMRSTN_b_play_0 .playerMRSTN_play,
.playerMRSTN_b_play_0 .playerMRSTN_pausa,
.playerMRSTN_b_play_0 .playerMRSTN_recargar,
.playerMRSTN_b_volumen_0 .playerMRSTN_volumen,
.playerMRSTN_b_compartir_0 .playerMRSTN_compartir,
.playerMRSTN_b_calidad_0 .playerMRSTN_calidad,
.playerMRSTN_b_fullscreen_0 .playerMRSTN_fullscreen,
.playerMRSTN_datos_video_0 .playerMRSTN_datos_video,
.playerMRSTN_titulo_0 .playerMRSTN_datos_video .playerMRSTN_titulo,
.playerMRSTN_duracion_0 .playerMRSTN_duracion {display: none;}
.playerMRSTN_duracion_0 .playerMRSTN_datos_video .playerMRSTN_titulo {max-width: 100%;}

/* sin titulo ni duracion en inicio alternativo */

.playerMRSTN_titulo_0.playerMRSTN_duracion_0 .playerMRSTN_datos_video {width: auto;}
.playerMRSTN_estado_off_2.playerMRSTN_titulo_0.playerMRSTN_duracion_0 a.playerMRSTN_play_grande {margin: 0;}
.playerMRSTN_titulo_0.playerMRSTN_duracion_0 .playerMRSTN_modulo_datos {display: none;}

