*{

	/* inicializo margenes */

	margin: 0;

	padding: 0;

}

a, a:hover{

	text-decoration: none

}



/* -------- estilos playlist --------*/



#containerplaylist_container{

	font-family: 'Lato', sans-serif;

	background: #f5f5f5;

	position: fixed;

	bottom: 60px;

	left: 60px;

	width: calc(125px + 35%);

	padding: 15px;

	border-top: solid 4px #000000;

	height: 300px;

	overflow-y: scroll;

	z-index: 2;

	display: none;

}

#containerplaylist_container.mm-ply-opened {

	display: block;

}

#containerplaylist_head {

	border-bottom: solid 1px #000000;

	margin-bottom: 20px;

	width: calc(100% - 10px);

}

#containerplaylist_head .mm-plylist-head-close {

	width: 15px;

	height: 15px;

	background: url(../img/assets/frame-playlist.png) left top no-repeat;

	background-size: 23px;

	position: absolute;

	top: 10px;

	right: 5px;

}

#containerplaylist_head .mm-plylist-head-close:hover {

	cursor: pointer;

}

.mm-plylist-head-title {

	font-size: 21px;

	text-transform: uppercase;

	font-weight: bold;

	display: inline-block;

	margin-bottom: 10px;

}

.mm-plylist-head-season {

	font-size: 20px;

}

.mm_playlist_container {

	background-color: #f5f5f5 !important;

	color: #000 !important;

	font-family: inherit !important;

	height: 100% !important;

	box-sizing: content-box;

}

#containerplaylist .mm_playlist_container .mm_playlist_item_container {

	width: calc(100% - 30px);

	display: block;

	margin: 0;

	border-bottom: 1px solid #cccccc;

	padding: 6px 10px;

	height: 25px;

}

#containerplaylist .mm_playlist_container .mm_playlist_item_container .mm_playlist_duration{

	display: none;

}

#containerplaylist .mm_playlist_container .mm_playlist_item_container.mm_playlist_item_selected {

	background: #ebebeb;

	border: none;

	margin-top: -1px;

	height: 26px;

}

#containerplaylist .mm_playlist_container .mm_playlist_item_container.mm_playlist_item_selected .mm_playlist_txt{

	font-weight: bold;

}

#containerplaylist .mm_playlist_container .mm_playlist_item_container.mm_playlist_item_selected .mm_playlist_cover{

	width: 25px;

	height: 25px;

	background: url(../img/assets/btn-play-stop.png) left top no-repeat !important;

	background-size: 83px !important;

	margin: 0;

	display: inline-block;

}

#containerplaylist .mm_playlist_container .mm_playlist_item_container.mm_playlist_item_selected .mm_playlist_cover.mm_playlist_cover_pause

{

	background-position-y: bottom!important;

}



#containerplaylist .mm_playlist_container .mm_playlist_item_container .mm_playlist_cover {

	width: 25px;

	height: 25px;

	background: url(../img/assets/btn-play-stop.png) left bottom no-repeat !important;

	background-size: 83px !important;

	margin: 0;

	display: inline-block;

}

#containerplaylist .mm_playlist_container .mm_playlist_item_container .mm_playlist_txt {

	display: inline-block;

	font-size: 15px;

	line-height: 25px;

	vertical-align: top;

	width: calc(100% - 40px);

	margin-left: 10px;

}

#containerplaylist .mm_playlist_container .mm_playlist_item_container .mm_playlist_txt .mm_playlist_title {

	font-size: 15px;

	line-height: 25px;

	vertical-align: top;

	margin-left: -5px;

	width: calc(100% - 15px);

	text-overflow: ellipsis;

	display: block;

	height: 25px;

	overflow: hidden;

	white-space: nowrap;

	float: left;

}

.mm_playlist_subtitle,.mm_playlist_footer {

	display: none;

}



/* --------   estilos player desplegado  ---------*/



#playerBig.mm-ply{

	font-family: 'Lato', sans-serif;

	width: 100%;

	position: fixed;

	bottom: 0;

	left: 0;

	background: #fff;

	box-shadow: 0px -3px 15px 0px rgba(0,0,0,0.3);

	height: 100px;

	min-width: 320px;

	z-index: 2;

}



#mm-ply-contenedor.mm-ply{

	position: relative;

	height: 100px;

	width: 100%;

}

.mm-ply-cover{

	/* display: inline-block; */

	width: 100px;

	height: 100px;

	overflow: hidden;

	float: left

}

.mm-ply-controles{

	/* display: inline-block; */

	float: left;

	height: 100px;

	width: auto;

	margin-right: 15px;

}

.mm-ply-controles a{

	float: left;

	display: inline-block;

}

.mm-ply-controles a.mm-ply-playStop{

	width: 60px;

	height: 60px;

	background: url(../img/assets/btn-play-stop.png) left bottom no-repeat;

	text-indent: -5000px;

	margin: 20px 0 0 15px;

}

.mm-ply-controles a.mm-ply-playStop:hover{

	background: url(../img/assets/btn-play-stop.png) right bottom no-repeat;

}



/* estilo para boton activo */

.mm-ply-controles a.mm-ply-playStop.mm-ply-activo{

	background: url(../img/assets/btn-play-stop.png) left top no-repeat;

}

.mm-ply-controles a.mm-ply-playStop.mm-ply-activo:hover{

	background: url(../img/assets/btn-play-stop.png) right top no-repeat;

}

.mm-ply-controles a.mm-ply-rewind{

	width: 32px;

	background: url(../img/assets/btn-rew-forw.png) left top no-repeat;

	font-size: 10px;

	font-weight: bold;

	color: #000;

	text-align: center;

	padding-top: 32px;

	margin: 35px 0 0 15px;

}

.mm-ply-controles a.mm-ply-rewind:hover{

	background: url(../img/assets/btn-rew-forw.png) left -50px no-repeat;

}

.mm-ply-controles a.mm-ply-forward{

	width: 32px;

	background: url(../img/assets/btn-rew-forw.png) right top no-repeat;

	font-size: 10px;

	font-weight: bold;

	color: #000;

	text-align: center;

	padding-top: 32px;

	margin: 35px 0 0 0;

}

.mm-ply-controles a.mm-ply-forward:hover{

	background: url(../img/assets/btn-rew-forw.png) right -50px no-repeat;

}

.mm-ply-titulosProgreso{

	float: left;

	display: block;

	width: 45%;

	padding-top: 20px;

	position: relative;

}

.mm-ply-titulosProgreso .mm-ply-playlist-button {

	width: 20px;

	height: 20px;

	background: url(../img/assets/frame-playlist.png) left -45px no-repeat;

	background-size: 24px;

	position: absolute;

	top: 5px;

	right: 15px;

}

.mm-ply-titulosProgreso .mm-ply-playlist-button:hover {

	cursor: pointer;

}

.mm-ply-titulosProgreso .mm-ply-playlist-button.mm-ply-opened {

	width: 20px;

	height: 20px;

	background: url(../img/assets/frame-playlist.png) left -20px no-repeat;

	background-size: 24px;

	position: absolute;

	top: 5px;

	right: 15px;

}

.mm-ply-titulosProgreso .mm-ply-playlist-button.mm-ply-opened:hover {

	cursor: auto;

}

.mm-ply-titulosProgreso .mm-ply-playlist-button:hover {

	cursor: pointer;

}

.mm-ply-titulosProgreso p.mm-ply-podcast{

	font-size: 12px;

	font-weight: 400;

	width: 80%;

	white-space: nowrap;

	overflow: hidden;

	text-overflow: ellipsis;

	min-height: 17px;

}

.mm-ply-titulosProgreso .mm-ply-contenedorProgreso{

	position: relative;
    
    width: 100%;

    bottom: -20px;

}

.mm-ply-titulosProgreso p.mm-ply-podcast a{

	color: #000;

	text-decoration: none;

}



.mm-ply-titulosProgreso p.mm-ply-podcast span{

	font-size: 10px

}



.mm-ply-titulosProgreso p.mm-ply-titulo{

	font-size: 16px;

	font-weight: bold;

	margin-bottom: 10px;

	width: 80%;

	white-space: nowrap;

	overflow: hidden;

	text-overflow: ellipsis;

}



.mm-ply-titulosProgreso .mm-ply-progreso{

	background: #d5d5d5;

	height: 5px;

	width: calc(100% - 15px);

}

.mm-ply-titulosProgreso .mm-ply-progreso span{

	background: #0190ce;

	height: 5px;

	width: 45%;

	display: block;

}



.mm-ply-contenedorProgreso .mm-ply-transcurrido{

	font-weight: bold

}

.mm-ply-contenedorProgreso .mm-ply-tiempoTotal{

	font-size: 12px;

	position: absolute;

	right: 15px;

	bottom: 10px;

	width: auto;

	text-align: right;

}



/* volumen */



.mm-ply-contenedorVolumen{

	width: 145px;

	max-width: 145px;

	height: 100px;

	float: right;

	display: inline-block;

	margin-left: 0;

	padding-left: 0;

	position: relative;

	margin-right: 300px;

	z-index: 1;

}

.mm-ply-contenedorVolumen a.mm-ply-mute{

	background: url(../img/assets/btn-volumen.png) left bottom no-repeat;

	width: 18px;

	height: 14px;

	text-indent: -5000px;

	float: left;

	display: block;

	position: absolute;

	bottom: 27px;

	left: 15px;

}

.mm-ply-contenedorVolumen a.mm-ply-mute:hover{

	background: url(../img/assets/btn-volumen.png) right bottom no-repeat;

}



.mm-ply-contenedorVolumen .mm-ply-controlVolumen{

	fill: #0190ce;

	height:12px;

	width: 12px;

	/*position: absolute;*/

	float:left;

	z-index: 99;

	margin-top: -3px;

	cursor: pointer;

}



/* estilos para volumen silenciado */

.mm-ply-contenedorVolumen a.mm-ply-mute.silenciado{

	background: url(../img/assets/btn-volumen.png) left top no-repeat;

}

.mm-ply-contenedorVolumen a.mm-ply-mute.silenciado:hover{

	background: url(../img/assets/btn-volumen.png) right top no-repeat;

}



.mm-ply-contenedorVolumen .mm-ply-volumen{

	background: #d5d5d5;

	height: 5px;

	width: 72%;

	margin-left: 28%;

	position: absolute;

	/*position: relative;*/

	bottom: 23px;

	cursor:pointer;

	/*margin-top: 63px;*/

}

.mm-ply-contenedorVolumen .mm-ply-volumen span{

	background: #000;

	height: 5px;

	width: 45%;

	display: block;

	cursor:pointer;

}





/* bloque de acciones y redes sociales */



.mm-ply-bloqueAcciones{

	position: absolute;

	right: 0;

	top: 0;

	width: 330px;

	height: 199px;

	border-left: 1px solid #e5e5e5;

	background: #fff;

	z-index: 999



}

.mm-ply-bloqueAcciones ul{

	padding: 25px 0 0 30px

}

.mm-ply-bloqueAcciones ul li{

	list-style: none;

	float: left;

	display: inline-block;

	margin: 0 0 0 1px;

	height: 50px

}

.mm-ply-bloqueAcciones ul li.mm-ply-descargar a{

	/*background: url(../img/assets/btn-descargar-suscribir.png) 16px 5px no-repeat;*/

	background: url(../img/assets/btn-descargar-suscribir.png) 16px 5px no-repeat;

	font-size: 12px;

	color: #000;

	text-decoration: none;

	width: 50px;

	padding-top: 35px;

	text-align: center;

	margin-right: 12px;

	float: left;

	display: block;

}

.mm-ply-bloqueAcciones ul li.mm-ply-descargar a:hover{

	color:#999;

	background: url(../img/assets/btn-descargar-suscribir.png) 16px -70px no-repeat;

}

.mm-ply-bloqueAcciones ul li.mm-ply-suscribete a{

	background: url(../img/assets/btn-descargar-suscribir.png) -189px 5px no-repeat;

	font-size: 12px;

	color: #000;

	text-decoration: none;

	width: 50px;

	padding-top: 35px;

	text-align: center;

	margin-right: 15px;

	float: left;

	display: block;

}

.mm-ply-bloqueAcciones ul li.mm-ply-suscribete a:hover{

	color: #999;

	background: url(../img/assets/btn-descargar-suscribir.png) -189px -70px no-repeat;

}

.mm-ply-bloqueAcciones ul li a:hover img{

	opacity: 0.6;

    filter: alpha(opacity=60); /* Para IE8 y anteriores */

}

.mm-ply-bloqueAcciones ul li.mm-ply-descargar a:hover{

	color:#999;

}





.mm-ply-interaccion{

	height: 80px;

	width: 40px;

	position: relative;

	right: 0;

	top: 0;

	background: #e5e5e5;

	float: left;

	display: none;

}

.mm-ply-interaccion .mm-ply-interaccion-btn {

	display: none;

	cursor: pointer;

	z-index: 999999;

	height: 20px;

	width: 31px;

	position: absolute;

	right: 0;

	top: 6px;

	background: url(../img/assets/frame-playlist.png) left -70px no-repeat;

}



/*---------------  estilos para player plegado   ---------------*/



#playerBig.mm-ply.mm-ply-plegado{

	height: 60px

}



#playerBig.mm-ply.mm-ply-plegado .mm-ply-cover{

	width: 60px;

	height: 60px;

}

#playerBig.mm-ply.mm-ply-plegado .mm-ply-cover img{

	width: 100%

}

#playerBig.mm-ply.mm-ply-plegado .mm-ply-controles{

	width: auto;

	margin-right: 15px;

}

#playerBig.mm-ply.mm-ply-plegado .mm-ply-controles a.mm-ply-playStop{

	width: 45px;

	height: 45px;

	background: url(../img/assets/btn-play-stop.png) left bottom no-repeat;

	background-size: 148px;

	text-indent: -5000px;

	margin: 8px 0 0 15px;

}

#playerBig.mm-ply.mm-ply-plegado .mm-ply-controles a.mm-ply-playStop.mm-ply-loading {

  font-size: 6px;

  margin: 28px 20px 0 34px;

  width: 1em;

  height: 1em;

  border-radius: 50%;

  text-indent: -9999em;

  -webkit-animation: loadplaying 1.3s infinite linear;

  animation: loadplaying 1.3s infinite linear;

  -webkit-transform: translateZ(0);

  -ms-transform: translateZ(0);

  transform: translateZ(0);

  color: #0190ce;

  background: none;

}

#playerBig.mm-ply.mm-ply-plegado .mm-ply-controles a.mm-ply-playStop:hover{

	background: url(../img/assets/btn-play-stop.png) right bottom no-repeat;

	background-size: 148px;

}

/* estilo para boton activo */

#playerBig.mm-ply.mm-ply-plegado .mm-ply-controles a.mm-ply-playStop.mm-ply-activo{

	background: url(../img/assets/btn-play-stop.png) left top no-repeat;

	background-size: 148px;

}

#playerBig.mm-ply.mm-ply-plegado .mm-ply-controles a.mm-ply-playStop.mm-ply-activo:hover{

	background: url(../img/assets/btn-play-stop.png) right top no-repeat;

	background-size: 148px;

}

#playerBig.mm-ply.mm-ply-plegado .mm-ply-controles a.mm-ply-rewind{

	display: none;

	width: 32px;

	background: url(../img/assets/btn-rew-forw.png) left top no-repeat;

	/*text-indent: -5000px;*/

	padding-top: 32px;

	margin: 10px 0 0 10px;

}

#playerBig.mm-ply.mm-ply-plegado .mm-ply-controles a.mm-ply-rewind:hover{

	background: url(../img/assets/btn-rew-forw.png) left -50px no-repeat;

}

#playerBig.mm-ply.mm-ply-plegado .mm-ply-controles a.mm-ply-forward{

	display: none;

	width: 32px;

	background: url(../img/assets/btn-rew-forw.png) right top no-repeat;

	/*text-indent: -5000px;*/

	padding-top: 32px;

	margin: 10px 0 0 0;

}

#playerBig.mm-ply.mm-ply-plegado .mm-ply-controles a.mm-ply-forward:hover{

	background: url(../img/assets/btn-rew-forw.png) right -50px no-repeat;

}

#playerBig.mm-ply.mm-ply-plegado .mm-ply-titulosProgreso {

	padding-top: 10px;

	padding-right: 0;

	border-right: 1px solid #cccccc;

	height: 50px;

	box-sizing: content-box;

}



#playerBig.mm-ply.mm-ply-plegado .mm-ply-titulosProgreso p.mm-ply-titulo {

    font-size: 14px;

    margin-bottom: 5px;

    position: absolute;
    
    bottom: 15px;

}



/* volumen plegado */

#playerBig.mm-ply.mm-ply-plegado .mm-ply-contenedorVolumen{

	height: 60px;

}

#playerBig.mm-ply.mm-ply-plegado .mm-ply-contenedorVolumen a.mm-ply-mute{

	bottom: 19px

}

#playerBig.mm-ply.mm-ply-plegado .mm-ply-contenedorVolumen .mm-ply-volumen{

	/*bottom: 23px;*/

}



/* bloque de acciones plegado */

#playerBig.mm-ply.mm-ply-plegado .mm-ply-bloqueAcciones{

	position: absolute;

	right: 0;

	top: 0;

	width: 290px;

	height: 60px;

	border-left: 1px solid #e5e5e5;

	background: #fff;



}

#playerBig.mm-ply.mm-ply-plegado .mm-ply-bloqueAcciones.mm-ply-mobile{

	display: none;

}

#playerBig.mm-ply.mm-ply-plegado .mm-ply-bloqueAcciones ul{

	padding: 15px 0 0 20px

}

#playerBig.mm-ply.mm-ply-plegado .mm-ply-bloqueAcciones ul li{

	list-style: none;

	float: left;

	display: inline-block;

	margin: 0 0 0 1px;

	height: 30px

}

#playerBig.mm-ply.mm-ply-plegado .mm-ply-bloqueAcciones ul li img{

	width: 30px;

}

#playerBig.mm-ply.mm-ply-plegado .mm-ply-bloqueAcciones ul li.mm-ply-descargar, #playerBig.mm-ply.mm-ply-plegado .mm-ply-bloqueAcciones ul li.mm-ply-suscribete{

	padding-top: 5px

}

#playerBig.mm-ply.mm-ply-plegado .mm-ply-bloqueAcciones ul li.mm-ply-descargar a{

	background: url(../img/assets/btn-descargar-suscribir.png) left top no-repeat;

	background-size:140px;

	font-size: 11px;

	color: #000;

	text-decoration: none;

	width: auto;

	padding: 2px 0 10px 20px;

	text-align: left;

	margin-right: 12px;

	float: left;

	display: block;

}

#playerBig.mm-ply.mm-ply-plegado .mm-ply-bloqueAcciones ul li.mm-ply-descargar a:hover{

	color:#999;

	background: url(../img/assets/btn-descargar-suscribir.png) left -46px no-repeat;

	background-size:140px;

}

#playerBig.mm-ply.mm-ply-plegado .mm-ply-bloqueAcciones ul li.mm-ply-suscribete a{

	background: url(../img/assets/btn-descargar-suscribir.png) -123px 0px no-repeat;

	background-size:140px;

	font-size: 11px;

	color: #000;

	text-decoration: none;

	width: auto;

	padding: 2px 0 10px 20px;

	text-align: left;

	margin-right: 10px;

	float: left;

	display: block;

}

#playerBig.mm-ply.mm-ply-plegado .mm-ply-bloqueAcciones ul li.mm-ply-suscribete a:hover{

	color:#999;

	background: url(../img/assets/btn-descargar-suscribir.png) -123px -46px no-repeat;

	background-size:140px;

}



/*---------------  estilos para dialogo de suscripcion   ---------------*/

.hidden {

	display: none;

}



.mm-ply-backdrop {

	font-family: 'Lato', sans-serif;

	position: fixed;

	top: 0;

	bottom: 0;

	left: 0;

	right: 0;

	background-color: rgba(0,0,0,.5);

	z-index: 1000;

}



.mm-ply-dialog {

	position: absolute;

	margin: auto;

	left: 50%;

	top: 50%;

	-webkit-transform: translate(-50%, -50%);

	        transform: translate(-50%, -50%);

}



.mm-ply-dialog .close {

	position: absolute;

	right: 10px;

	top: 10px;

}



.mm-ply-suscripcion {

	background-color: #0190ce;

	width: 500px;

	height: 300px;

}



.mm-ply-suscripcion .header {

	text-align: center;

	padding-top: 74px;

	padding-bottom: 30px;

}



.mm-ply-suscripcion .header img {

	width: 23px;

	height: 23px;

}



.mm-ply-suscripcion .header .title {

	font-size: 20px;

	font-weight: 400;

	line-height: 19px;

	color: #fff;

}



.mm-ply-suscripcion ul {

	list-style: none;

	text-align: center;

	margin-left: 88px;

	margin-right: 88px;

}



.mm-ply-suscripcion ul li {

	width: 24%;

	float: left;

	padding-bottom: 23%;

	height: 0;

	text-align: center;

	position: relative;

	margin: 1px;

	background-color: rgba(255,255,255,0.2);

}



.mm-ply-suscripcion ul li a {

	position: absolute;

	top: 0; left: 0; bottom: 0; right: 0;

	text-align: center;

	vertical-align: middle;

	color: #fff;

	padding-top: 13px;

}



.mm-ply-suscripcion ul li a:hover {

	background-color: rgba(255,255,255,0.5);

}



.mm-ply-suscripcion ul li a span span {

	display: block;

}



.mm-ply-embed {

	background-color: #fff;

	padding: 20px;

}



.mm-ply-embed .header,

.mm-ply-embed .embed

{

	margin-bottom: 20px;

}



.mm-ply-embed .embed {

	text-align: center;

}



.mm-ply-embed .header .title {

	display: inline-block;

	font-size: 16px;

	font-weight: 700;

	line-height: 19px;

	text-transform: uppercase;

}



.mm-ply-embed .header .close {

	position: static;

	display: inline-block;

	float: right;

}



.mm-ply-embed .embed-big,

.mm-ply-embed .embed-medium,

.mm-ply-embed .embed-small {

	display: inline-block;

	background-image: url(../img/assets/frame-embed-center.png);

	background-repeat: no-repeat;

	background-position: center top;

	width: 120px;

	height: 150px;

	position: relative;

	vertical-align: top;

	text-align: center;

}



.mm-ply-embed .embed-big:before,

.mm-ply-embed .embed-medium:before,

.mm-ply-embed .embed-small:before {

	content: " ";

	position: absolute;

	top: 0; left: 0; bottom: 0; right: 0;

	background-color: rgba(255,255,255,0.7);

}



.mm-ply-embed .embed-big:hover:before,

.mm-ply-embed .embed-medium:hover:before,

.mm-ply-embed .embed-small:hover:before,

.mm-ply-embed .embed-big.active:before,

.mm-ply-embed .embed-medium.active:before,

.mm-ply-embed .embed-small.active:before {

	content: normal;

}





.mm-ply-embed .embed-medium {

	background-image: url(../img/assets/frame-embed-top.png);

}



.mm-ply-embed .embed-small {

	background-image: url(../img/assets/frame-embed-bottom.png);

}



.mm-ply-embed .embed-big img,

.mm-ply-embed .embed-medium img,

.mm-ply-embed .embed-small img {

	display: inline-block;

}



.mm-ply-embed .embed-big img {

	width: 44px;

	height: 44px;

	margin-top: 5px;

	margin-left: -48px;

}



.mm-ply-embed .embed-medium img {

	width: 45px;

	height: 44px;

	margin-top: 6px;

	margin-left: -45px;

}



.mm-ply-embed .embed-small img {

	width: 14px;

	height: 13px;

	margin-top: 78px;

	margin-left: -75px;

}



.mm-ply-embed .embed-big span,

.mm-ply-embed .embed-medium span,

.mm-ply-embed .embed-small span {

	position: absolute;

	bottom: 0;

	left: 0;

	right: 0;

	font-size: 14px;

	font-weight: 400;

}



.mm-ply-embed .embed-big span strong,

.mm-ply-embed .embed-medium span strong,

.mm-ply-embed .embed-small span strong {

	display: block;

	font-weight: 700;

}

.mm-ply-embed .size label {

	font-size: 12px;

	font-weight: 400;

	line-height: 19px;

	margin-bottom: 8px;

	display: block;

}



.mm-ply-embed .size input[type=text],

.mm-ply-embed .code input[type=text] {

	background-color: white;

	border: 1px solid #d5d5d5;

	border-radius: 3px;

	color: #333;

	font-size: 16px;

	font-weight: 400;

	padding: 8px;

	text-align: center;

	width: 60px;

}



.mm-ply-embed .size input[type=radio] {

	margin-left: 10px;

}



.mm-ply-embed .size .ui-radio,

.mm-ply-embed .size .ui-input-text {

	display: inline-block;

}



.mm-ply-embed .code {

	margin-top: 20px;

}



.mm-ply-embed .code label {

	font-size: 12px;

	font-weight: 400;

	line-height: 19px;

}



.mm-ply-embed .code input[type=text] {

	width: 510px;

	display: block;

	margin-top: 6px;

	margin-bottom: 8px;

}



.mm-ply-embed .code .submit {

	text-align: right;

}



.mm-ply-embed .code input[type=submit] {

	border: none;

	color: #0190ce;

	font-size: 14px;

	font-weight: 400;

	line-height: 19px;

	background: none;

	text-align: right;

	cursor: pointer;

}



/* Rewrite para que no se peguen los estilos */

.mm_playlist_container div {

	box-sizing: inherit!important;

}

.mm_playlist_container.lista * {transition: none;}

.mm_playlist_container.lista .mm_playlist_item_container {width: inherit; position: inherit; height: inherit; margin-bottom: inherit;}

.mm_playlist_container.lista .mm_playlist_item_container,

.mm_playlist_container.lista .mm_playlist_duration {background: inherit;}

.mm_playlist_container.lista .mm_playlist_cover {float: inherit; width: inherit; height: inherit; margin: inherit; background-color: inherit;}

.mm_playlist_container.lista .mm_playlist_center {width: inherit; height: inherit; display: inherit; vertical-align: inherit; text-align: inherit;}

.mm_playlist_container.lista .mm_playlist_center img {max-height: inherit; max-width: inherit; margin: inherit;}

.mm_playlist_container.lista .mm_playlist_txt {margin: inherit; position: inherit; overflow: inherit;}

.mm_playlist_container.lista .mm_playlist_txt .mm_playlist_center {width: calc(100% + 10px); height: inherit; text-align: inherit;}

.mm_playlist_container.lista .mm_playlist_title,

.mm_playlist_container.lista .mm_playlist_subtitle {white-space: inherit; line-height: inherit;}

.mm_playlist_container.lista .mm_playlist_title {font-size: inherit; font-weight: inherit;}

.mm_playlist_container.lista .mm_playlist_subtitle {font-size: inherit; color: inherit;}

.mm_playlist_container.lista .mm_playlist_duration {position: inherit; right: inherit; top: inherit; width: inherit; height: inherit; padding-right: inherit; font-size: inherit; text-align: inherit; color: inherit;}

.mm_playlist_container.lista .mm_playlist_duration .mm_playlist_center {width: 65px; height: 60px; text-align: right;}

.mm_playlist_container.lista .mm_playlist_txt:after {content: ""; position: inherit; top: inherit; right: inherit; display: none; width: inherit; height: inherit; background: inherit;}

.mm_playlist_container.lista .mm_playlist_item_container:hover,

.mm_playlist_container.lista .mm_playlist_item_container:hover .mm_playlist_duration {background-color: inherit;}

.mm_playlist_container.lista .mm_playlist_item_container:hover .mm_playlist_txt:after {background: inherit;}

.mm_playlist_container.lista .mm_playlist_item_selected,

.mm_playlist_container.lista .mm_playlist_item_selected .mm_playlist_duration {background: inherit;}

.mm_playlist_container.lista .mm_playlist_item_selected .mm_playlist_txt:after {background: inherit;}

.mm_playlist_container.lista.sin_fotos .mm_playlist_cover {display: none;}

/* ---  RESPONSIVE --- */



/* tablet */

@media(max-width: 1250px) {

	.mm-ply-titulosProgreso p.mm-ply-titulo {

		width: 75%;

	}

}

@media(max-width: 1020px) {

	#playerBig.mm-ply.mm-ply-plegado .mm-ply-bloqueAcciones{

		width: 20%;

	}

	#playerBig.mm-ply .mm-ply-bloqueAcciones ul{

		padding: 15px 0 0 8px!important;

		position: absolute;

	    right: 10px;

	}

	#playerBig.mm-ply .mm-ply-bloqueAcciones ul li{

		list-style: none;

		float: left;

		display: inline-block;

		margin: 0 0 0 1px;

		height: 30px

	}

	#playerBig.mm-ply .mm-ply-bloqueAcciones ul li img{

		width: 30px;

	}

	#playerBig.mm-ply- .mm-ply-bloqueAcciones ul li.mm-ply-descargar, #playerBig.mm-ply .mm-ply-bloqueAcciones ul li.mm-ply-suscribete{

		padding-top: 5px

	}

	#playerBig.mm-ply .mm-ply-bloqueAcciones ul li.mm-ply-descargar a{

		background: url(../img/assets/btn-descargar-suscribir.png) left 6px no-repeat;

		background-size:140px;

		font-size: 11px;

		color: #000;

		text-decoration: none;

		width: auto;

		padding: 0;

		text-align: left;

		margin-right: 0px;

		float: left;

		display: block;

		/*text-indent: -4000px;

		width: 30px;*/

		height: 30px;

	}

	#playerBig.mm-ply .mm-ply-bloqueAcciones ul li.mm-ply-descargar a:hover{

		color:#999;

		background: url(../img/assets/btn-descargar-suscribir.png) left -40px no-repeat;

		background-size:140px;

	}

	#playerBig.mm-ply .mm-ply-bloqueAcciones ul li.mm-ply-suscribete a{

		background: url(../img/assets/btn-descargar-suscribir.png) -123px 0px no-repeat;

		background-size:140px;

		font-size: 11px;

		color: #000;

		text-decoration: none;

		width: auto;

		padding: 0;

		text-align: left;

		margin-right: 0px;

		float: left;

		display: block;

		/*text-indent: -4000px;

		width: 30px;*/

		height: 30px;

	}

	#playerBigmm-player-podcast .mm-ply-bloqueAcciones ul li.mm-ply-suscribete a:hover{

		color:#999;

		background: url(../img/assets/btn-descargar-suscribir.png) -123px -46px no-repeat;

		background-size:140px;

	}



	#playerBig.mm-ply .mm-ply-contenedorVolumen, #playerBig.mm-ply.mm-ply-plegado .mm-ply-contenedorVolumen{

		display: none;

	}

	#playerBig.mm-ply .mm-ply-bloqueAcciones{

		text-align: right;

	}

	#playerBig.mm-ply .mm-ply-bloqueAcciones ul li.mm-ply-descargar a, #playerBig.mm-ply .mm-ply-bloqueAcciones ul li.mm-ply-suscribete a{

		text-indent: -4000px;

		width: 30px;

	}



	.mm-ply-titulosProgreso {

	    width: 44.5%;

	}



	#playerBig.mm-ply.mm-ply-plegado .mm-ply-bloqueAcciones{

		width: 29%;

	}

	#playerBig.mm-ply.mm-ply-plegado .mm-ply-titulosProgreso {

		border: none;

	}

	#playerBig.mm-ply.mm-ply-plegado .mm-ply-bloqueAcciones {

		border: none;

	}

}



@media(max-width: 1040px) {

	.mm-ply-titulosProgreso p.mm-ply-titulo {

		width: 65%;

	}

}

@media(max-width: 767px) {

	.mm-ply-titulosProgreso p.mm-ply-titulo {

		width: 55%;

	}

}

/* smartphone */



@media(max-width: 667px) {

	.mm-ply-titulosProgreso {

		width: 44.5%;

	}

	#playerBig.mm-ply.mm-ply-plegado .mm-ply-bloqueAcciones {

	    width: 30%;

	}

	.mm-ply-titulosProgreso p.mm-ply-titulo {

	    width: 60%;

	}

	.mm-ply-contenedorProgreso .mm-ply-tiempoTotal {

	    font-size: 11px;

	    width: auto;

	}



}



@media(max-width: 598px) {

	.mm-ply-titulosProgreso {

		width: 44.5%;

	}

	#playerBig.mm-ply.mm-ply-plegado .mm-ply-bloqueAcciones {

		width: 35%;

	}

	.mm-ply-titulosProgreso p.mm-ply-titulo {

		width: 50%;

	}

	.mm-ply-contenedorProgreso .mm-ply-tiempoTotal {

	    font-size: 11px;

	    width: auto;

	}



	.mm-ply-dialog {

		position: absolute;

		margin: auto;

		left: 0;

		top: 0;

		right: 0;

		bottom: 0;

		-webkit-transform: none;

		        transform: none;

	}



	.mm-ply-dialog > div,

	.mm-ply-dialog > ul {

		min-width: 320px;

	}



	.mm-ply-embed .embed-big,

	.mm-ply-embed .embed-medium,

	.mm-ply-embed .embed-small {

		max-width: 32%;

		overflow: hidden;

	}



	.mm-ply-embed .code input[type=text] {

		width: 100%;

		box-sizing: border-box;

	}

}

@media(max-width: 520px) {

	.mm-ply-titulosProgreso {

		width: 40%;

	}

}

@media(max-width: 520px) {

	#containerplaylist_container {

		width: calc(100% - 15px);

		left: 0;

		padding-right: 0;

	}

	#containerplaylist_head {

		padding-bottom: 10px;

	}



	#containerplaylist .mm_playlist_container .mm_playlist_item_container {

		height: auto;

	}



	#containerplaylist .mm_playlist_container .mm_playlist_item_container .mm_playlist_txt .mm_playlist_title {

		height: auto;

		white-space: initial;

	}



	#playerBig.mm-ply.mm-ply-plegado{

		height: 80px;

		background: #fff;

	}



	#playerBig.mm-ply.mm-ply-plegado .mm-ply-cover{

		width: 100%;

		position: absolute;

		bottom: -480px;

		height: auto;

		z-index: 0;

		background: #000;

	}

	#playerBig.mm-ply.mm-ply-plegado .mm-ply-cover img.mm-ply-cover-img{

		opacity: 0.6;

	}

	#playerBig.mm-ply.mm-ply-plegado .mm-ply-cover.mm-ply-muestraCover{

		bottom:70px;

	}

	#playerBig.mm-ply.mm-ply-plegado .mm-ply-cover .mm-ply-bloqueTitulos{

		display: block

	}

	#playerBig.mm-ply.mm-ply-plegado .mm-ply-cover .mm-ply-bloqueTitulos p.mm-ply-podcast{

		color: #fff;

		position: absolute;

		top: 20px;

		left: 15px;

		font-weight: 300;

		font-size: 13px;



	}

	#playerBig.mm-ply.mm-ply-plegado .mm-ply-cover .mm-ply-bloqueTitulos p.mm-ply-podcast a{

		color: #fff;

		text-decoration: none;

	}

	#playerBig.mm-ply.mm-ply-plegado .mm-ply-cover .mm-ply-bloqueTitulos p.mm-ply-podcast span{

		display: block;

		font-size: 11px

	}

	#playerBig.mm-ply.mm-ply-plegado .mm-ply-cover .mm-ply-bloqueTitulos p.mm-ply-titulo{

		color: #fff;

		width: 85%;

		text-overflow:ellipsis;

		position: absolute;

		bottom: 80px;

		font-size: 16px;

		left: 15px;

		font-weight: bold

	}

	#playerBig.mm-ply.mm-ply-plegado .mm-ply-controles{



		z-index: 9999;

		position: absolute;

	    bottom: 20px;
    	
    	height: 56px;

	}

	#playerBig.mm-ply.mm-ply-plegado .mm-ply-bloqueAcciones{

		display: none;

	}

	#playerBig.mm-ply.mm-ply-plegado .mm-ply-bloqueAcciones.mm-ply-mobile{

		display: block;

		position: absolute;

		top: initial;

		bottom: 10px; 

		width: 100%;

		background:none;

		height: 50px;

	}

	#playerBig.mm-ply.mm-ply-plegado .mm-ply-bloqueAcciones.mm-ply-mobile ul{

		width: 96%;

	    margin-left: 2%;

	    margin-right: 2%;

	    padding: 0!important;

	    position: relative;

	    right: initial;

	}

	#playerBig.mm-ply.mm-ply-plegado .mm-ply-bloqueAcciones.mm-ply-mobile ul li{

		padding: 0

	}

	#playerBig.mm-ply.mm-ply-plegado .mm-ply-bloqueAcciones.mm-ply-mobile ul li img {

	    width: 40px;

	}

	#playerBig.mm-ply.mm-ply-plegado .mm-ply-bloqueAcciones.mm-ply-mobile ul li.mm-ply-descargar a{

		background: rgba(255,255,255,0.3) url(../img/assets/btn-descargar-mobile.png) center center no-repeat;

		width: 40px;

		height: 40px;

		padding: 0;

		margin-right: 1px;



	}

	#playerBig.mm-ply.mm-ply-plegado .mm-ply-bloqueAcciones.mm-ply-mobile ul li.mm-ply-suscribete a{

		background: rgba(255,255,255,0.3) url(../img/assets/btn-suscribir-mobile.png) center center no-repeat;

		width: 40px;

		height: 40px;

		padding: 0;

		

	}

	#playerBig.mm-ply.mm-ply-plegado .mm-ply-bloqueAcciones{

		height: 50px;

	}



	#playerBig.mm-ply.mm-ply-plegado .mm-ply-bloqueAcciones.mm-ply-mobile ul li.mm-ply-whatsapp{

		position: absolute;

		right: 0;

	}

	#playerBig.mm-ply.mm-ply-plegado .mm-ply-bloqueAcciones.mm-ply-mobile ul li.mm-ply-twitter{

		position: absolute;

		right: 41px;

	}

	#playerBig.mm-ply.mm-ply-plegado .mm-ply-bloqueAcciones.mm-ply-mobile ul li.mm-ply-facebook{

		position: absolute;

		right: 82px;

	}



	#playerBig.mm-ply.mm-ply-plegado .mm-ply-titulosProgreso {

	    padding-top: 0px;
	    
	    width: 100%;
	    
	    background: #fff;
	    
	    z-index: 999;
	    
	    height: 80px;
	    
	    padding: 0 15px;
	    
	    box-sizing: border-box;

	    padding-right: 0;
	}



	#playerBig.mm-ply.mm-ply-plegado .mm-ply-titulosProgreso p.mm-ply-podcast, #playerBig.mm-ply.mm-ply-plegado .mm-ply-titulosProgreso p.mm-ply-titulo{

		display: none;

	}

	

	#playerBig.mm-ply.mm-ply-plegado .mm-ply-titulosProgreso .mm-ply-progreso{

		width: calc(100% - 15px);

		margin-top: 65px;

	}



	#playerBig.mm-ply.mm-ply-plegado .mm-ply-titulosProgreso .mm-ply-contenedorProgreso .mm-ply-tiempoTotal {

	bottom: initial;

    width: auto;

    text-align: right;

    margin-top: -25px;
    
    right: 15px;

	}

	.mm-ply-titulosProgreso .mm-ply-playlist-button {

		right: 15px;

	}

	.mm-ply-interaccion{

		display: block;

		cursor:pointer;

		z-index: 999999;

	}



	.mm-ply-interaccion.mm-ply-desplegado .mm-ply-interaccion-btn{

		background: url(../img/assets/frame-playlist.png) no-repeat left -87px;

	}

	

	/* control de botones nohover*/



	.mm-ply-controles a.mm-ply-playStop:hover{

		background: url(../img/assets/btn-play-stop.png) left bottom no-repeat!important;

		background-size: 149px!important;

	}



	.mm-ply-controles a.mm-ply-playStop.mm-ply-activo:hover{

		background: url(../img/assets/btn-play-stop.png) left 1px no-repeat!important;

		background-size: 149px!important;

	}

	.mm-ply-controles a.mm-ply-rewind:hover{

		background: url(../img/assets/btn-rew-forw.png) left top no-repeat!important;

	}

	.mm-ply-controles a.mm-ply-forward:hover{

		background: url(../img/assets/btn-rew-forw.png) right top no-repeat!important;

	}



	.mm-ply-suscripcion {

		width: auto;

		height: auto;

	}



	.mm-ply-suscripcion .header .title {

		display: block;

		margin-left: 25%;

		margin-right: 25%;

	}



	.mm-ply-suscripcion .header img {

		width: 50px;

		height: 50px;

	}



	.mm-ply-suscripcion ul {

		margin-left: 0;

		margin-right: 0;

	}



	.mm-ply-suscripcion ul li:first-child,

	.mm-ply-suscripcion ul li:nth-of-type(3) {

		margin-left: 25%;

	}



	.mm-ply-suscripcion ul li:nth-of-type(3) {

		clear: both;

	}

	.mm-ply-interaccion .mm-ply-interaccion-btn {

		display: block;

	}

	.mm-plylist-head-season {

		display: block;

	}

	#containerplaylist .mm_playlist_container .mm_playlist_item_container.mm_playlist_item_selected {

		height: auto;

	}

	#mm-ply-contenedor {

	    width: calc(100% - 40px);
    	
    	float: left;
	
	}
	.mm-ply-titulosProgreso .mm-ply-contenedorProgreso{

		position: relative;
    
    	width: 100%;

    	bottom: 0px;

	}

}



@-webkit-keyframes loadplaying {

  0%,

  100% {

    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;

  }

  12.5% {

    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;

  }

  25% {

    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;

  }

  37.5% {

    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;

  }

  50% {

    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;

  }

  62.5% {

    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;

  }

  75% {

    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;

  }

  87.5% {

    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;

  }

}

@keyframes loadplaying {

  0%,

  100% {

    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;

  }

  12.5% {

    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;

  }

  25% {

    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;

  }

  37.5% {

    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;

  }

  50% {

    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;

  }

  62.5% {

    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;

  }

  75% {

    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;

  }

  87.5% {

    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;

  }

}



