* {margin: 0; padding: 0;}

		

		.player {
			width: 100%; 
			height: 100px; 
			overflow: hidden; 
			position: relative;
			color: #000;
			font: 12px/22px proxima_nova, Helvetica, Helvetica Neue, Arial;
			background:white;
		}

		.img {
			width: 40%;
			height: 100px;
			background: url("img/fondovu.jpg") center center no-repeat ;
			background-size: auto 100%;
			min-width: 110px;
			float: left;
			position: relative;
			z-index: 4;
		}

		.contenido {
			width: 60%;
			height: 100px;
			max-width: Calc( 100% - 110px);
			max-width: expression(100% - 110px);
			float: left;
			position: relative;
		}

		.canvas {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0; 
			left: 0;
			z-index: 1;
		}



		/* player-int*/
		.player-int {
			position: relative;
			z-index: 2;
			height: 0;
			width: 100%;
			overflow:visible;
		}

			.player-int .controles {
				float: left;
				width: 52px;
				margin: 30px 10px 0 10px;
			}
				.player-int .controles .boton {
					display: block;
					width: 52px;
					height: 52px;
					cursor: pointer;
				}
					.player-int .controles .play52 {
						background: url("/psdmedia/media/top/skins/playser2/assets/img/play52.png") 0 0 no-repeat;
					}
					.player-int .controles .pause52 {
						background: url("/psdmedia/media/top/skins/playser2/assets/img/pause52.png") 0 0 no-repeat;
					}

			.player-int .info {
				width: Calc( 100% - 72px);
				width: expression(100% - 72px);
				left: 72px;
				position: absolute;
				margin-top: 40px;
				line-height: 16px;
				
			}

				.player-int .info .programa {
					line-height: 22px;
					white-space: nowrap;
					font-weight: bold;
					display: block;
					width: 100%;
					overflow: hidden;
					text-overflow: ellipsis;
					font-size: 1.7em;
				}

		/* data */
		.contenido .data {
			position: absolute;
			top: 5px;
			right: 10px;
			z-index: 3;
			height: 28px; 
			overflow: hidden;
			white-space: nowrap;
		}
			.contenido .data > span {
				margin-right: 10px;
				display: inline-block;
				vertical-align:  top;
				line-height: 28px;
			}
			.share {
				height: 26px;
				border: 1px solid #c0c0c0;
				border-radius: 20px;
				display: inline-block;
			}
				.share span {
					cursor: pointer;
					width: 26px;
					height: 26px;
					display: block;
					text-align: center;
					border-right: 1px solid #c0c0c0;
					float: left;
					background-position: center center;
					background-repeat: no-repeat;
				}
				.share span:last-child  {
					border: 0;
				}
					.share .conecta {
						background-image: url("/psdmedia/media/top/skins/playser2/assets/img/conectar2.png");
					}
					.share .comparte {
						background-image: url("/psdmedia/media/top/skins/playser2/assets/img/comparte2.png");
					}

.player52PlayCargando {
    --display:inline-block;
    --float:left;
    --width: 52px;
    --height: 52px;
    --margin-top:35px;
    background-image: url("/psdmedia/media/top/skins/playser2/assets/img/play52_cargando.png");
    cursor:pointer;

    -webkit-animation: play52 3s steps(94) infinite;
       -moz-animation: play52 3s steps(94) infinite;
        -ms-animation: play52 3s steps(94) infinite;
         -o-animation: play52 3s steps(94) infinite;
            animation: play52 3s steps(94) infinite;
}
@-webkit-keyframes play52 {
   from { background-position:    0px; }
     to { background-position: -4888px; }
}
@-moz-keyframes play52 {
   from { background-position:    0px; }
     to { background-position: -4888px; }
}
@-ms-keyframes play52 {
   from { background-position:    0px; }
     to { background-position: -4888px; }
}
@-o-keyframes play52 {
   from { background-position:    0px; }
     to { background-position: -4888px; }
}
@keyframes play52 {
   from { background-position:    0px; }
     to { background-position: -4888px; }
}

.player52PauseCargando {
    --display:inline-block;
    --float:left;
    --width: 52px;
    --height: 52px;
    --margin-top:35px;
    background-image: url("/psdmedia/media/top/skins/playser2/assets/img/pause52_cargando.png");
    --cursor:pointer;

    -webkit-animation: playp52 3s steps(94) infinite;
       -moz-animation: playp52 3s steps(94) infinite;
        -ms-animation: playp52 3s steps(94) infinite;
         -o-animation: playp52 3s steps(94) infinite;
            animation: playp52 3s steps(94) infinite;
}
@-webkit-keyframes playp52 {
   from { background-position:    0px; }
     to { background-position: -4888px; }
}
@-moz-keyframes playp52 {
   from { background-position:    0px; }
     to { background-position: -4888px; }
}
@-ms-keyframes playp52 {
   from { background-position:    0px; }
     to { background-position: -4888px; }
}
@-o-keyframes playp52 {
   from { background-position:    0px; }
     to { background-position: -4888px; }
}
@keyframes playp52 {
   from { background-position:    0px; }
     to { background-position: -4888px; }
}

.byDefaultMini{
    background-image:url("img/fondovumini.jpg") !important;
	background-position: center center !important;
    background-repeat: no-repeat !important;
	background-color: #fdbe00;
}

.byDefault{
    background-image:url("img/fondovu.jpg") !important;
	background-position: center center !important;
    background-repeat: no-repeat !important;
	background-color: #fdbe00;
}

.embedmode{
    background-image:url("/psdmedia/media/top/skins/playser2/assets/img/ser_embed.jpg");
    background-size:auto 100%;
	background-repeat:no-repeat;
	background-color:#363636;
	cursor:pointer;
}
