
/* LISTADO AUDIOS PLAYSER EN CADENASER.COM ====================================================================================================================== */

/* reset */
@import url("reset.css");

/* fuentes */
@import url("fuentes.css");

/* iconos */
@import url("iconos.css");

/* estilos listado audios en cadenaser.com ====================================================================================================================== */

.wrapper-cs {margin: 0 auto; border: 1px solid #ebebeb; padding-bottom: 100px; position: relative; overflow: hidden; transition: padding 0.5s linear;}

.wrapper-cs .cabecera {background-color: transparent; position: static; border-bottom: 1px solid #ebebeb;}
.wrapper-cs .cabecera .inner {border-top: 0; margin: 0 0 0 10px; position: static; height: 64px;}
.wrapper-cs .cabecera .logo {display: block; width: 130px; height: 100%; background: transparent url(../img/logo_playser_fondo_fff.svg) no-repeat 0 50%/100% auto; text-indent: -9999px; white-space: nowrap; overflow: hidden;}

.wrapper-cs ul.listado,
.wrapper-cs ol.listado {font: 12px/18px "proxima_nova", Helvetica, Helvetica Neue, Arial;}
.wrapper-cs ul.listado li,
.wrapper-cs ol.listado li {border-bottom: 1px solid #ebebeb; height: 36px; padding: 14px 130px 14px 10px; position:relative; font-size: 15px; color: #666; line-height: 0; overflow: hidden;}
.wrapper-cs ul.listado li .programa,
.wrapper-cs ol.listado li .programa {font-weight: 700; color: #191e23; display: block; max-width: 100%; box-sizing: border-box; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; line-height: 18px; height: 18px; overflow: hidden; text-decoration: none;}
.wrapper-cs ul.listado li .programa:hover,
.wrapper-cs ul.listado li .programa:focus,
.wrapper-cs ol.listado li .programa:hover,
.wrapper-cs ol.listado li .programa:focus {color: #888;}
.wrapper-cs ul.listado li .info,
.wrapper-cs ol.listado li .info {position: relative; display: inline-block; box-sizing: border-box; font-size: 11px; line-height: 24px; height: 18px; text-transform: uppercase}
.wrapper-cs ul.listado li .info .presentador,
.wrapper-cs ol.listado li .info .presentador {display: block; float: left; max-width: 78%; margin-right: 3px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.wrapper-cs ul.listado li em,
.wrapper-cs ol.listado li em {font-style: normal; color: #009fe1;}
.wrapper-cx ul.listado li .horario,
.wrapper-cx ol.listado li .horario {line-height: 24px; display: inline-block;}
.wrapper-cs ul.listado li .btn,
.wrapper-cs ol.listado li .btn {height: 33px; line-height: 34px; padding: 0 15px; background: transparent; position: absolute; right: 10px; top: 15px; font-size: 13px; font-weight: 700; color: #009fe1; text-transform: uppercase; cursor: pointer; box-sizing: border-box;}
.wrapper-cs ul.listado li .btn:hover,
.wrapper-cs ul.listado li .btn:focus,
.wrapper-cs ol.listado li .btn:hover,
.wrapper-cs ol.listado li .btn:focus {background-color: #009fe1;color: #fff;}
.wrapper-cs ul.listado li .btn .icon-equalizer,
.wrapper-cs ol.listado li .btn .icon-equalizer {display: none;}
.wrapper-cs ul.listado li:hover,
.wrapper-cs ul.listado li:focus,
.wrapper-cs ol.listado li:hover,
.wrapper-cs ol.listado li:focus {background: #f0f0f0;} 
.wrapper-cs ul.listado li:hover:before,
.wrapper-cs ul.listado li:focus:before,
.wrapper-cs ol.listado li:hover:before,
.wrapper-cs ol.listado li:focus:before {color: #404040;}
.wrapper-cs ul.listado li:hover .btn,
.wrapper-cs ul.listado li:focus .btn,
.wrapper-cs ol.listado li:hover .btn,
.wrapper-cs ol.listado li:focus .btn {display: block;}
.wrapper-cs ul.listado li:hover .btn:hover,
.wrapper-cs ul.listado li:focus .btn:focus,
.wrapper-cs ol.listado li:hover .btn:hover,
.wrapper-cs ol.listado li:focus .btn:focus {background: #009fe1}
.wrapper-cs ul.listado li:last-child,
.wrapper-cs ol.listado li:last-child {border-bottom: 0;}

.wrapper-cs ol.listado {counter-reset: my-counter;}
.wrapper-cs ol.listado li {padding: 14px 130px 14px 72px;}
.wrapper-cs ol.listado li:before { content: counter(my-counter); counter-increment: my-counter; display: block; width: 72px; height: 7px; position: absolute; top: 0; left: 0; text-align: center; line-height: 69px; font-size: 50px; font-weight: 700; color: #ccc;}

/* PLAYER con listado en cadenaser.com  ====================================================================================================================== */

.wrapper-cs .player-wrapper {position: fixed; z-index: 1000; bottom: 0; left: 0; width: 100%; height: 102px;}
.wrapper-cs .player {border-color: rgba(0,0,0,0.01) #e5e5e5 #e5e5e5;}
.wrapper-cs .player .player-inner {box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.1);}


