/******************** generales ***************/
.playerTexto{
    display: inline-block;
    width: auto;
    line-height: 2.3;
    margin: 0 5px;
}

.playerNormal .redondeado, .playerGrande .redondeado {
    border:1px solid #c0c0c0;
    behavior: url("border-radius.htc"); /* ie 6,7,8 */
    -moz-border-radius: 20px; /* Firefox */
    -webkit-border-radius: 20px; /* Safari y Chrome */
    -khtml-border-radius: 20px; /* Konkeror, ... */
    border-radius: 20px; /* Opera 10.50, IE y CSS3 */
}

/******************** comun ***************/
.playerNormal, .playerGrande{
    float:left;
    display:inline-block;redondeado
    vertical-align:middle;
    background-color: #ffffff;
    width:auto;
    position:relative;
}
.playerNormal img, .playerGrande img{
    vertical-align:top;
    cursor:pointer;
}
.playerNormal img, .playerGrande img{
    padding-right:4px;
}
.playerNormal .playerPlayOver, .playerGrande .playerPlayOver{
    position:relative;
    float:left;
    margin-right:5px;
}
.playerNormal .playerPlayOver img, .playerNormal .divConectar img, .playerGrande .playerPlayOver img, .playerGrande .divConectar img{
    padding-top:3px;
}
.playerNormal .novisible, .playerGrande .novisible{
    display:none;
}
.playerNormal .visibleEnLinea, .playerGrande .visibleEnLinea{
    display:inline-block;
}
.playerNormal .playerPlayOver .tiempo, .playerGrande .playerPlayOver .tiempo{
    overflow:hidden;
	color:black;
}
.playerNormal .conectar, .playerGrande .conectar, .playerNormal .conversacion, .playerGrande .conversacion {
    float:left;
}

/******************** normal ***************/
.fodolargoAncho2{
    max-width: 450px;
    width: 44%;
    width: -webkit-calc(260px + 15%);
    width: -moz-calc(260px + 15%);
    width: calc(260px + 15%);
}
.fodolargoAncho1{
    --max-width: 400px;
    width: 100%;
    --width: -webkit-calc(230px + 15%);
    --width: -moz-calc(230px + 15%);
    --width: calc(230px + 15%);
}
.fodolargoAncho0{
    max-width: 350px;
    width: 36%;
    width: -webkit-calc(200px + 15%);
    width: -moz-calc(200px + 15%);
    width: calc(200px + 15%);
}

.playerNormal .fondocorto{
    width: 135px;
    height: 25px;
}
.playerNormal .fondolargo{
    height: 25px;
    width: 60%;
    width: -webkit-calc(100% - 150px);
    width: -moz-calc(100% - 150px);
    width: calc(100% - 150px);
}

.playerNormal .playerPlay{
    float:left;
}
.playerNormal .playerPlayOver .playcontinue{
    float:left;
    margin-left:5px;
    margin-top:2px;
}
.playerNormal .playerPlayOver .playpause{
    float:left;
    margin-left:5px;
    margin-top:4px;
    display:none;
}

.tiempo{
    font: 12px/22px proxima_nova,Helvetica,Helvetica Neue,Arial;
}

.playerNormal .fondocorto .tiempo{
    left: 24px;
    width:30px:
    overflow: hidden;
}
.playerNormal .fondocorto .volumen{
    position:relative;
    left: 55px;
}
.playerNormal .fondocorto .menu{
    position:relative;
    left: 60px;
}
.playerNormal .fondolargo .tiempo{
    position:relative;
    float:right;
    margin-left:5px;
    margin-right:5px;
    width:30px;
    overflow: hidden;
    line-height: 25px;
	color:black !important;
}
.playerNormal .fondolargo .volumen{
    position:relative;
    float:right;
    margin-left:5px;
}
.playerNormal .fondolargo .menu{
    position:relative;
    float:right;
}
.playerNormal .playerPlayOver .playerVolumen{
    position:absolute;
    top:-71px;
    display:none;
    background-image: url('img/player/normal/volumen_nivel.png');
    width: 31px;
    height: 96px;
}
.playerNormal .fondocorto .playerVolumen{
    left:72px;
    z-index:20;
}
.playerNormal .fondolargo .playerVolumen{
    --left:77%; /* se situa con js */
    z-index:20;
	right:0px !important;
}
.playerNormal .playerPlayOver .playerVolumen .playerVolumenMarca{
    position: absolute;
    left:45px;
    top:35px;
}
.playerNormal .playerPlayOver .playerVolumen .divPlayerVolumenMarca{
    position:relative;
    top: 30px;
    left:10px;
    width:10px;
    height:45px;
}

.playerNormal .playerPlayOver .playerProgreso{
    position:relative;
    top: 10px;
    float:left;
    height:5px;
    background-color:#c0c0c0;
}
.fodolargoAncho2 .playerPlayOver .playerProgreso{
    width:50%;
    width: -webkit-calc(100% - 130px);
    width: -moz-calc(100% - 130px);
    width: calc(100% - 130px);
}
.fodolargoAncho1 .playerPlayOver .playerProgreso{
    width:45%;
    width: -webkit-calc(100% - 100px);
    width: -moz-calc(100% - 100px);
    width: calc(100% - 100px);
}
.fodolargoAncho0 .playerPlayOver .playerProgreso{
    width:40%;
    width: -webkit-calc(100% - 70px);
    width: -moz-calc(100% - 70px);
    width: calc(100% - 70px);
}


.playerNormal .playerPlayOver .playerProgreso .divPlayerProgresoLimites{
    position:absolute;
    top: 0px;
    left:0px;
    width:105%;
    height:5px;
    /*background-color:red;*/
}
.playerNormal .playerPlayOver .playerProgreso .playerProgresoMarca{
    position: absolute;
    top:-7px;
    left:0px;
    display: none;
	width:10px !important;
}
.playerNormal .playerPlayOver .playerProgreso .divPlayerProgreso{
    position: absolute;
    top:1px;
    left:0px;
    width:0px;
    height:3px;
    background-color:#5c5c5c;
}

.playerNormal .divConectar{
    float:left;
    width:110px;
    height:25px;
    display:none;
    margin-right:5px;
}
.playerNormal .divConectar .conectarlogo{
    position:relative;
    left:1px;	
}
.playerNormal .divConectar .conectarfb, .playerNormal .divConectar .conectartw, .playerNormal .divConectar .conectargo{
    position:relative;
    border-left:1px solid #c0c0c0;
    padding-left:5px;
}
.playerNormal .divConectar .conectarfb{
    left:5px;
}
.playerNormal .divConectar .conectartw{
    left:5px;
}
.playerNormal .divConectar .conectargo{
    left:5px;
}
.playerNormal .playerPlayOver .volumen, .playerNormal .playerPlayOver .menu{
    border-left:1px solid #c0c0c0;
    padding-left:5px;
}

/******************** grande ***************/
.playerGrande img{
    padding-right:4px;
}
.playerGrande .fondocorto{
    width: 156px;
    height: 30px;
}
.playerGrande .fondolargo{
    width: 353px;
    height: 30px;
}
.playerGrande .playerPlay{
    float:left;
}
.playerGrande .playerPlayOver .playcontinue{
    float:left;
    position:relative;
    margin-left:5px;
    margin-top:2px;
}
.playerGrande .playerPlayOver .playpause{
    float:left;
    position:relative;
    margin-left:5px;
    margin-top:4px;
    display:none;
}

.playerGrande .fondocorto .tiempo{
    float:left;
    width:40px;
    margin-top:3px;
    margin-left:5px;
	color:black !important;
}
.playerGrande .fondolargo .tiempo{
    position:relative;
    float:left;
    width:30px:
    margin-top:3px;
    margin-left:5px;
	color:black !important;
}
.playerGrande .fondocorto .volumen, .playerGrande .fondocorto .menu{
    float:right;
}
.playerGrande .fondolargo .volumen, .playerGrande .fondolargo .menu{
    float:right;
}

.playerGrande .playerPlayOver .playerVolumen{
    position:absolute;
    top:-83px;
    display:none;
    background-image: url('img/player/grande/volumen_nivel.png');
    width: 31px;
    height: 105px;
}
.playerGrande .fondocorto .playerVolumen{
    left:85px;
    z-index:20;
}
.playerGrande .fondolargo .playerVolumen{
    left:242px;
    z-index:20;
}
.playerGrande .playerPlayOver .playerVolumen .playerVolumenMarca{
    position: absolute;
    left:10px;
    top:30px;
}
.playerGrande .playerPlayOver .playerVolumen .divPlayerVolumenMarca{
    position:relative;
    top: 25px;
    left:10px;
    width:10px;
    height:55px;
}

.playerGrande .playerPlayOver .playerProgreso{
    position:absolute;
    top: 5px;
    left:30px;
    width:170px;
    height:10px;
}
.playerGrande .playerPlayOver .playerProgreso .playerProgresoMarca{
    position: absolute;
    top:0px;
    left:0px;
    display: none;
}.playerNormal .divConectar .conectarfb, .playerNormal .divConectar .conectartw, .playerNormal .divConectar .conectargo{
    position:relative;
    border-left:1px solid #c0c0c0;
    padding-left:5px;
}

.playerGrande .playerPlayOver .playerProgreso .divPlayerProgreso{
    position: absolute;
    top:6px;
    left:0px;
    width:0px;
    height:3px;
    background-color:#5c5c5c;
}

.playerGrande .divConectar{
    float:left;
    width:129px;
    height:30px;
    margin-right:5px;
    display:none;
}
.playerGrande .divConectar .conectarlogo{
    position:relative;
    left:8px;	
}
.playerGrande .divConectar .conectarfb, .playerGrande .divConectar .conectartw, .playerGrande .divConectar .conectargo{
    position:relative;
    border-left:1px solid #c0c0c0;
    padding-left:5px;
}
.playerGrande .divConectar .conectarfb{
    left:15px;	
}
.playerGrande .divConectar .conectartw{
    left:15px;	
}
.playerGrande .divConectar .conectargo{
    left:15px;	
}
.playerGrande .playerPlayOver .volumen, .playerGrande .playerPlayOver .menu{
    border-left:1px solid #c0c0c0;
    padding-left:5px;
}
.playerGrande .playerTexto{
    margin-top:3px;
}

/******************* audio wide *************/
.reproductorAWNoticia{
    float:left;
    min-width:350px;
    width:50%;
    height:200px;
    position:relative;
}
.reproductorAWNoticia .awplaylogo{
    float:left;
}
.reproductorAWNoticia .awTexto{
    position:relative;
    float:left;
    width:60%;
    width: -webkit-calc(100% - 214px);
    width: -moz-calc(100% - 214px);
    width: calc(100% - 214px);
    border: 1px solid #c0c0c0;
    height:100%;
    background-color:#ffffff;
    overflow:hidden;
}
.reproductorAWNoticia .awcompleto{
    width:100%;
}

.reproductorAWNoticia .awTexto .awhashtag{
    padding-top:2.4%;
    padding-left:2.4%;
    float:left;
    color:#fdbe00;
    font-weight: bold;
}
.reproductorAWNoticia .awTexto .awtipo{
    padding-top:2.4%;
    padding-left:2.4%;
    float:left;
    font-weight: bold;	
}
.reproductorAWNoticia .awTexto .awtitulo{
    padding-top:2.4%;
    padding-left:20px;
    clear:both;
    float:left;
    font-size: 180%;
}
.reproductorAWNoticia .awTexto .awpie{
    padding-top:2.4%;
    padding-left:2.4%;
    clear:both;pause
    float:left;
    font-size:80%;
}
.reproductorAWNoticia .awplay{
    position:absolute;
    top: 73%;
    left: 230px;
    cursor:pointer;
}
.reproductorAWNoticia .awreproducir{
    display:none;
}
.reproductorAWNoticia .awpause{
    position:absolute;
    top: 75%;
    left: 2.4%;
    cursor:pointer;
}
.reproductorAWNoticia .awaudio{
    position:absolute;
    top: 70%;
    left: 15%;
    cursor:pointer;
    z-index:8;
}
.reproductorAWNoticia .alpha50{
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    /* IE 5-7 */
    filter: alpha(opacity=50);
    /* Netscape */
    -moz-opacity: 0.5;
    /* Safari 1.x */
    -khtml-opacity: 0.5;
    /* Good browsers */
    opacity: 0.5;
}
.reproductorAWNoticia .awaudioDifuminado{
    position:absolute;
    width:100%;
    height:30%;
    left:0%;
    top:70%;
    background-color:#ffffff;
    z-index:9;
}
.reproductorAWNoticia .awaudioPosicion{
    position:absolute;
    width: .5%;
    height: 20%;
    top: 80%;
    left: 15%;
    background-color:#fdbe00;
    z-index:10;
}
.reproductorAWNoticia .awreproducir .awplayer{
    position:absolute;
    top:50%;
    height:50%;
    left:80%;
    left: -webkit-calc(100% - 130px);
    left: -moz-calc(100% - 130px);
    left: calc(100% - 130px);
    width:110px;
}
.reproductorAWNoticia .awreproducir .awplayer img{
    padding-left:10px;
    cursor:pointer;
}
.reproductorAWNoticia .awreproducir .awplayer .tiempo{
    display:inline-block;
    float:left;
}
.reproductorAWNoticia .awreproducir .awplayer .volumen, .reproductorAWNoticia .awreproducir .awplayer .menu{
    display:inline-block;
    float:right;
}
.reproductorAWNoticia .awTexto .awreproducir .awplayer .playerVolumen{
    position:absolute;
    top:0%;
    left:55%;
    display:none;
    background-image: url('img/player/normal/volumen_nivel.png');
    width: 31px;
    height: 96px;
    z-index:11;
}
.reproductorAWNoticia .awTexto .awreproducir .awplayer .playerVolumenMarca{
    position: absolute;
    left:5%;
    top:30px;
}
.reproductorAWNoticia .awTexto .awreproducir .awplayer .divPlayerVolumenMarca{
    position:relative;
    top: 25%;
    left:50%;
    width:10%;
    height:50%;
}
/*********************************/
/* Player en cabecera de páginas */
/*********************************/
@media only screen and (min-width: 320px) {
    div#cabeceraplayer {
       /*float: left;*/
       position: relative;
       width: 100%;
       height: 60px;
       background-color: #ffffff;
    }
    div#cabeceraplayer .audio {
        height: 60px;
        position: absolute;
        z-index: 1;
    }
    div#cabeceraplayer .emisora {
        height: 60px;
        background-color: #ffffff;
        position: absolute;
        right: 0;
        width: 420px;
        z-index: 2;
    }
    div#cabeceraplayer a.actual {
        color:#eeeeee; 
        background-color: #009fe1;
        font-weight: bold;
        padding: 5px 20px;
        border-radius: 5px;
    } 
    div#cabeceraplayer .player {
        overflow: hidden;
        left: 0px;
        height: 60px;        
    }
    div#cabeceraplayer a.controlplayer.anterior,
    div#cabeceraplayer a.controlplayer.siguiente    { 
        display: none; 
    }
    div#cabeceraplayer .vacio{
        background-image: url(img/vacio.png);
    }
    div#cabeceraplayer .play{
        background: #0e1214 url(img/play.png) no-repeat center !important;
        border: none !important;
        height: 56px !important;
		display: block !important;
		width: 60px;
		float: left;
    }
    div#cabeceraplayer .pause{
        background: #0e1214 url(img/pause.png) no-repeat center !important;
        border: none !important;
        height: 56px !important;
        display:none;
    }
    div#cabeceraplayer .dsaudio {   
        background-color: #0e1214;
        color: white;                
        height: 40px;
		padding: 16px 0px 0px 0px;	
        line-height: 2em;
        white-space: nowrap;		
    }	
    div#cabeceraplayer .controlvol {   
        background-color: #0e1214;
        height: 56px; 
        width:50px;
        background-image: url(img/volumen.png);
        background-repeat: no-repeat;
        background-position: center; 
        position: absolute;
        top: 0;
        right: 0;
    }
     .progreso {
        height: 4px;
        top: 56px;
        position: absolute;
        width: 100%;
    }
    .progreso div {
        width: 40%;
        height: 4px;
    }
    .gris{
        background-color: #9c9c9c;
    }
    div#cabeceraplayer .volumenNivel{
        background-color: #0e1214; 
        width: 300px;
        height: 40px;
        top:60px;
        padding: 16px 0px 0px 10px;
        line-height: 2em;
        white-space: nowrap;
        left: 214px;
        position: absolute;
        color:#9c9c9c;
        font-weight: bold;
        cursor:pointer;
        display:none;
    }
    div#cabeceraplayer .volumenNivelRecuadro{
        border:2px solid #9c9c9c;
        border-bottom:4px solid #0e1214; 
        width: 25px;
        height: 28px;
        top:-50px;
        padding: 16px 0px 0px 10px;
        line-height: 2em;
        white-space: nowrap;
        left: 265px;
        position: absolute;
        z-index:10;
        cursor:pointer;
    }
    div#cabeceraplayer .volumenNivelX, div#cabeceraplayer .volumenNivel1, div#cabeceraplayer .volumenNivel2, div#cabeceraplayer .volumenNivel3, div#cabeceraplayer .volumenNivel4, div#cabeceraplayer .volumenNivel5 {
        position:relative;
        width:22px;
        height:22px;
        top: 2px;
        margin-right:10px;
        display:inline-block;
        background: #0e1214 url(img/player/volumennivel.png) no-repeat center !important;
        color:#ffffff;
        text-align:center;
        cursor:pointer;
    }
    div#cabeceraplayer .volumenNivelX{
        margin-left:20px;
    }
    div#cabeceraplayer .volumenNivelX:hover, div#cabeceraplayer .volumenNivel1:hover, div#cabeceraplayer .volumenNivel2:hover, div#cabeceraplayer .volumenNivel3:hover, div#cabeceraplayer .volumenNivel4:hover, div#cabeceraplayer .volumenNivel5:hover {
        background: #0e1214 url(img/player/volumennivel_over.png) no-repeat center !important;
        color:#000000;
    }
}
@media only screen and (min-width: 769px) {
    div#cabeceraplayer .controlplayer {
		background-color:#191e23;
		top: 0px;
		width: 37px;
		height: 60px;
		background-repeat: no-repeat;
		display: block !important;
		background-position: center;
		border-right: 1px solid #303840;
		cursor: pointer;
		position: absolute;
	}    
	div#cabeceraplayer .anterior{
		margin-left: 1px;
		background-image: url(img/anterior2.png);
		left: 0;
	}
	div#cabeceraplayer .siguiente{
		background-image: url(img/siguiente2.png);
		left: 37px;
	}
    div#cabeceraplayer .player {
        left: 74px;
        height: 60px;
        position: absolute;
    }
	div#cabeceraplayer .play{
        background: #0e1214 url(img/play.png) no-repeat center !important;
        border: none !important;
        height: 56px !important;
		display: block !important;
		width: 37px;
		float: none;
    }
	div#cabeceraplayer .dsaudio{
		padding: 16px 0px 0px 45px;
		max-width: 435px;
	}

}
/**********************************/
/* FIN player en cabecera páginas */
/**********************************/
/* Div en lugar de imágenes */
div.control {
    background-repeat: no-repeat;
    background-position: center;
    height: 25px;
    width: 20px;
    cursor: pointer;
}

.bola{
	cursor:auto !important;
}

div.volumen {
    background-image: url('img/player/normal/volumen.png');
}
div.playcontinue {
    background-image: url('img/player/normal/playcontinue.png');
    margin-top: 0 !important;
    margin-left: 0 !important;
}
div.playpause {
    background-image: url('img/player/normal/playpause.png');
    margin-top: 0 !important;
    margin-left: 0 !important;
}
div.playerProgresoMarca {
    background-image: url('img/player/normal/volumen_nivel_marcador.png');
    top: -2px !important;
    height: 10px;
}
div.playerVolumenMarca {
    background-image: url('img/player/normal/volumen_nivel_marcador.png');
	height:10px;
}
div.redes {
    float: left;
    width: 24px;
    height: 25px;
    margin-right: 5px;
}
div.redes:hover {
    width: 100px;
}
div.redes > div.control {
    border-left: 1px solid #ccc;
    width: 24px;
    float: left;
}
div.logo {
    background-image: url('img/player/normal/conectarlogo.png');
    border-left: 0 !important;
}
div.fb {
    background-image: url('img/player/normal/conectarfb.png');
}
div.tw {
    background-image: url('img/player/normal/conectartw.png');
}
div.go {
    background-image: url('img/player/normal/conectargo.png');
}
div.fb:hover {
    background-image: url('img/player/normal/conectarfb_over.png');
}
div.tw:hover {
    background-image: url('img/player/normal/conectartw_over.png');
}
div.go:hover {
    background-image: url('img/player/normal/conectargo_over.png');
}
div.conversacion {
    background-image: url('img/player/normal/conversacion.png');
}
div.control.playerVolumenMarca{
    --width: 100%;
    left: 45px;
}

.playerVolumenHorizontal{
	height:25px !important;
	width:108px !important;
	background-image:url("img/player/normal/fondovolumen_horizontal.png") !important;
	top: 0px !important;
	position: absolute !important;
}

.divPlayerVolumenMarcaHorizontal{
	height: 5px !important;
	left: 10px !important;
	width: 87px !important;
	top: 10px !important;
}

.playerVolumenMarcaHorizontal{
	top:8px !important;
}
