
/* PLAYER tablet en playser - reescritura de playertop-desktop.css ====================================================================================================================== */

.no-desktop {display: block !important;}
.no-tablet {display: none !important;}

.playertop {width: 100%;}
.playertop .share .redes .prim {display: none;}
.playertop .share .redes-active .prim {display: block; float: left; width: 40px;}
.playertop .share .redes-active .prim button {background-color: #136200; color: #000}
.playertop .info .conf-emisora .inner-conf {padding-right: 110px;}
.playertop .info .control-conf {width: 106px;}
.playertop .info .control-conf .btn-secundary  { padding: 0 8px; }
.playertop .info .embed .inner-embed {padding-right: 125px;}
.playertop .info .embed .control-conf {width: 145px;}
.playertop .info .inner-conf .select {width: 60%;}
.playertop .info .inner-conf .select + .select{width: 40%;}
.playertop .info .inner-conf .select + .select select {width: 120%;}
.playertop .info .programa {padding-right: 0;}
.playertop.a-la-carta .programa {padding-right: 0;}
.playertop .info .form-mail .txt {display: none;}
.playertop .info .form-mail .form-mail-inner {padding-left: 5px; }

.playertop-embebido.playertop-touch .info .emisora {padding-left: 0;}
.playertop-embebido.playertop-touch .barra {width: 1px;}
.playertop-embebido.playertop-touch .inverso {left: 0;}