.playerMRSTN_datos_video .playerMRSTN_modulo_datos,
.playerMRSTN_estado_off_2 .playerMRSTN_datos_video {background: transparent url(/psdmedia/media/top/skins/meristation/assets/img/bg_000_70.png) repeat 0 0;}
.playerMRSTN_estado_off_2 .playerMRSTN_datos_video .playerMRSTN_modulo_datos {background: transparent;}
.playerMRSTN_c_compartir .playerMRSTN_capa,
.playerMRSTN_c_relacionados .playerMRSTN_centrador {background: transparent url(/psdmedia/media/top/skins/meristation/assets/img/bg_000_80.png) repeat 0 0;}
.playerMRSTN_contenedor_cargando,
.playerMRSTN_thumbnails  .playerMRSTN_foto {background: transparent url(/psdmedia/media/top/skins/meristation/assets/img/bg_000_50.png) repeat 0 0;}
.playerMRSTN_boton a,
.playerMRSTN_play,
.playerMRSTN_pausa,
.playerMRSTN_recargar,
.playerMRSTN_boton a .playerMRSTN_icono,
a.playerMRSTN_play_grande,
.playerMRSTN_c_relacionados .playerMRSTN_foto .playerMRSTN_boton_play {background-image: url(/psdmedia/media/top/skins/meristation/assets/img/spt_iconos.png);}
.playerMRSTN_capa_volumen .playerMRSTN_mascara_volumen {background-image: url(/psdmedia/media/top/skins/meristation/assets/img/mascara_volumen.png);}
.playerMRSTN_c_compartir a.playerMRSTN_red {background-image: url(/psdmedia/media/top/skins/meristation/assets/img/spt_redes.png);}
.playerMRSTN_calidad a {background-image: none; font-style: normal;}
a.playerMRSTN_play_grande{background-color: #000; background-repeat: no-repeat; background-position: center 26px;}
a.playerMRSTN_play_grande:hover,
.playerMRSTN_estado_off_2 .playerMRSTN_contenedor_video:hover .playerMRSTN_datos_video a.playerMRSTN_play_grande {background-color: #a8b700; background-repeat: no-repeat; background-position: center -501px;}
.playerMRSTN_c_relacionados .playerMRSTN_foto .playerMRSTN_boton_play {background-color: #000; background-repeat: no-repeat; background-position: center 6px;}
.playerMRSTN_c_relacionados a.playerMRSTN_video:hover .playerMRSTN_boton_play {background-color: #fff;}
a.playerMRSTN_cerrar {background-image: url(/psdmedia/media/top/skins/meristation/assets/img/cerrar.png); background-repeat: no-repeat; background-position: 0 0; text-indent: -9999px; white-space: nowrap; overflow: hidden; display: block;}
.playerMRSTN_boton {position: relative; z-index: 21;}
.playerMRSTN_estado_compartiendo .playerMRSTN_boton {filter: alpha(opacity=20);}
