html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; outline: 0; }

ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
textarea {resize: none;}

:focus {outline: 0;}

ins {text-decoration: none;}
del {text-decoration: line-through;}

/* las tablas necesitan tb  'cellspacing="0"'  */
table {border-collapse: collapse;border-spacing: 0;}

/* floats */
.izq {float: left;}
.dch {float: right;}

/* imagen e imagen en enlace */
img {display: block;}
a img {border: 0;}

iframe {display: block;}

/* oculto */
.oculto {display: none !important;}

/*clearfix*/
.cf  { *zoom: 1; }
.cf:before, .cf:after { content: " "; display: table; }
.cf:after { clear: both; }

/* basicos varios */

.btn {display: inline; border-radius: 4px; height: 35px; line-height: 34px; border: 0; padding: 0 18px;}
.btn-primary {background: #e10000; color: #fff;}
.btn-primary:hover,
.btn-primary:focus {opacity: 0.7;}
.btn-secundary {background: #fff; color: #e10000;}
.close {position: absolute; top: 20px; right: 20px; width: 30px; height: 30px; display: block; background-color: transparent; color: #000; border: 0; padding: 0;}
.close:hover,
.close:focus {opacity: 0.5;}

input[type="text"], input[type="password"], textarea {border: 1px solid #191e22;}
a[href], input[type='submit'], input[type='checkbox'], label[for], select, button {cursor: pointer;}
button, input, select, textarea {font-family: "proxima_nova"}
input[type="submit"], input[type="button"] {-webkit-appearance: none;}
